---
title: Онлайн решения для бизнеса
permalink: /online
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/social-likes-next/dist/social-likes_birman.css">  
  <title>Онлайн решения для бизнеса</title>
  <meta name="description" content="отдел интернет-маркетинга по стоимости одного сотрудника">
  <meta name="keywords" content="интернет-маркетинг">
  <meta name="google-site-verification" content="k_w8istwR04PocDmdpSQHIcgwbPfx8cDYy5Z2Y5bvuA" /> <meta name="yandex-verification" content="29cd2d09fdd2bc5e" /> <link rel="icon" sizes="16x16" href="/images/16.png"/> <link rel="icon" sizes="32x32" href="/images/32.png"/> <link rel="icon" sizes="180x180" href="/images/180-ios.png"/> <link rel="apple-touch-icon" sizes="32x32" href="/images/32.png" /> <link rel="apple-touch-icon" sizes="180x180" href="/images/180-ios.png" />   <meta name="author" content="{{ site.name }}" />  {% if page.title %}  <meta property="og:title" content="{{ page.title }}" />   <meta property="twitter:title" content="{{ page.title }}" />   {% endif %}
<meta property="og:image" content="http://www.bartoshevich.by/images/online.jpg" />
<meta property="og:image:url" content="http://www.bartoshevich.by/images/online.jpg" />
  <meta property="og:site_name" content="www.bartoshevich.by" />
<link rel="canonical" href="http://www.bartoshevich.by/online" />
  <style>
  .bg-faded {
    color: #292b2c;
}
    .bg-primary {
    background-color: transparent !important;
}
  </style>

  </head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-faded text-right">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                  </button>
      <div class="navbar-collapse text-center justify-content-end collapse show" id="navbar2SupportedContent" aria-expanded="true" style="">
        <ul class="navbar-nav text-right">
          <li class="nav-item active text-left"> <a class="nav-link active" href="http://www.bartoshevich.by">Блог</a> </li>
          <li class="nav-item p-2 text-left"> +375 (29) 775-33-40 </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bg-primary text-center d-flex h-100 align-items-center" style="background-image: url(&quot;http://www.bartoshevich.by/images/serveimage.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text-white display-4 bg-primary">Отдел интернет-маркетинга<br>&nbsp;по стоимости одного сотрудника</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section text-center bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-primary text-lowercase">В&nbsp;ЗАВИСИМОСТИ ОТ&nbsp;СИТУАЦИИ И&nbsp;ПОТРЕБНОСТЕЙ КОМПАНИИ ВЫБЕРИТЕ ПОДХОДЯЩИЙ ПАКЕТ УСЛУГ</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-sm-center text-primary text-center">СТАРТ</h2>
          <p class="my-1 text-center">Для тех, кто думает о&nbsp;новом сайте или хочет трезво оценить существующий. Мы&nbsp;опишем, как сайт и&nbsp;отдельные элементы должны выглядеть и&nbsp;работать, расставим приоритеты и&nbsp;составим детальный план развития интернет-ресурса.</p>
        </div>
        <div class="col-md-4">
          <h2 class="text-sm-center text-primary text-center">БАЗОВЫЙ</h2>
          <p class="my-1 text-center">Мы&nbsp;поддержим вас в&nbsp;работе с&nbsp;web-студией. Поможем выбрать подрядчика, оценим предложение, проверим адекватность стоимости и&nbsp;сроков, поставим правильные задачи, проконтролируем исполнение. </p>
        </div>
        <div class="col-md-4">
          <h2 class="text-sm-center text-primary text-center">РОСТ</h2>
          <p class="my-1 text-center">Поддержка и&nbsp;развитие сайта, уверенный рост количества посетителей.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-faded">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card my-1">
            <div class="card-block text-center">
              <h2>СТАРТ</h2>
              <h3>600 рублей</h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-left">Анализ особенностей бизнеса для подготовки рекомендаций</li>
              <li class="list-group-item text-left">Анализ сайта компании и&nbsp;компаний конкурентов, рекомендации по&nbsp;развитию интернет-ресурса (наполнению, редизайне, функциям и&nbsp;пр.)</li>
              <li class="list-group-item text-left">Анализ интернет-каталогов/площадок, рекомендации по&nbsp;присутствию</li>
              <li class="list-group-item text-left">План развития компании в&nbsp;интернете</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-1">
            <div class="card-block text-center">
              <h2>БАЗОВЫЙ</h2>
              <h3>1300 рублей</h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-left">Анализ особенностей бизнеса для подготовки рекомендаций</li>
              <li class="list-group-item text-left">Анализ сайта компании и&nbsp;компаний конкурентов, рекомендации по&nbsp;развитию интернет-ресурса (наполнению, редизайне, функциям и&nbsp;пр.)</li>
              <li class="list-group-item text-left">Анализ интернет-каталогов/площадок, рекомендации по&nbsp;присутствию</li>
              <li class="list-group-item text-left">План развития компании в&nbsp;интернете</li>
              <li class="list-group-item text-left">Координация работы с&nbsp;web-студией (организация тендера, постановка задач, анализ предложений, координация работы, контроль результатов)</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-1">
            <div class="card-block text-center">
              <h2>РОСТ</h2>
              <h3>от 2000 рублей/мес.</h3>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item text-left">Анализ особенностей бизнеса для подготовки рекомендаций</li>
              <li class="list-group-item text-left">Анализ сайта компании и&nbsp;компаний конкурентов, рекомендации по&nbsp;развитию интернет-ресурса (наполнению, редизайне, функциям и&nbsp;пр.)</li>
              <li class="list-group-item text-left">Анализ интернет-каталогов/площадок, рекомендации по&nbsp;присутствию</li>
              <li class="list-group-item text-left">План развития компании в&nbsp;интернете</li>
              <li class="list-group-item text-left">Координация работы с&nbsp;web-студиями, seo- и&nbsp;smm-агентствами (постановка задач, анализ предложений, координация работы)</li>
              <li class="list-group-item text-left">Анализ данных интернет-статистики (интерпретация результатов, оценка результативности, предложения по&nbsp;увеличению конверсии)</li>
              <li class="list-group-item text-left">Копирайтинг (написание статей для сайтов, блога)</li>
              <li class="list-group-item text-left">Контекстная реклама в&nbsp;Яндекс.Директ и&nbsp;Google Adwords (управление, анализ качества кампаний, рекомендации по&nbsp;оптимизации бюджета)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-primary">ВАШ ОТДЕЛ ИНТЕРНЕТ-МАРКЕТИНГА</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center"> <img src="http://www.bartoshevich.by/images/180-ios.png" class="img-fluid rounded-circle"> </div>
        <div class="col-md-6">
          <h4 class="text-primary">ДМИТРИЙ БАРТОШЕВИЧ<br></h4>
          <p class="lead"><em>«За&nbsp;стоимость сравнимую с&nbsp;одной зарплатой вы&nbsp;нанимаете полноценный отдел интернет-маркетинга. Без оплаты больничных, отпусков, курсов по&nbsp;повышению квалификации»            
       </em></p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="text-primary">ПАВЕЛ ЖУКОВСКИЙ<br></h4>
          <p class="lead"> <em>«Теперь ваш подрядчик не&nbsp;пролоббирует удобные для себя, но&nbsp;не&nbsp;оптимальные для вас решения»</em> </p>
        </div>
        <div class="col-md-6 text-center"> <img src="http://www.bartoshevich.by/images/pavelonline.jpg" class="img-fluid rounded-circle mx-auto"> </div>
      </div>
    </div>
  </div>
  <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center"> <img src="http://www.bartoshevich.by/images/andreionline.jpg" class="img-fluid rounded-circle mx-auto"> </div>
        <div class="col-md-6">
          <h4 class="text-primary">АНДРЕЙ ТРУХАН<br></h4>
          <p class="lead"><em>«Сайт легко найти и&nbsp;удобно пользоваться»,&nbsp;— скажут о&nbsp;вашем сайте клиенты.
            
       </em></p>
        </div>
      </div>
    </div>
  </div>
 <!-- <div class="py-5  section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4 class="text-primary">АЛИНА РУДИНА<br></h4>
          <p class="lead"> <em>«Ваше агентство теперь не&nbsp;завысит сложность работ, увеличивая сроки и&nbsp;стоимость»</em> </p>
        </div>
        <div class="col-md-6 text-center"> <img src="http://www.bartoshevich.by/images/rudina.jpg" class="img-fluid rounded-circle mx-auto"> </div>
      </div>
    </div>
  </div> -->
  
  
  <div class="section text-center bg-faded py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-primary">КОНТАКТЫ</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-faded p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="text-center"> <strong>ИП Бартошевич Дмитрий Александрович</strong>&nbsp;&nbsp;<br>Свидетельство о регистрации № 192414874,&nbsp;<br>зарегистрирован Минским горисполкомом 16 марта 2017г. УНП 192414874&nbsp;<br><br>р/с BY27ALFA30132092340130270000 в ЗАО «Альфа-Банк», адрес банка: 220013, г.Минск, ул. Сурганова, 43-47. БИК — ALFABY2X</p>
        </div>
        <div class="col-md-4">
          <p class="text-center"><b>dmitry@bartoshevich.by&nbsp;</b><br><b>+375 29 775-33-40</b></p>
                  
        </div>
        <div class="col-md-4">
          <p class="text-center">{% include share.html %}</p>
                  
        </div>
      </div>
          </div>  
  </div> 
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
   
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
     <script src="https://unpkg.com/social-likes-next/dist/social-likes.min.js"></script>
   {% include analytics.html %}
 </body>
</html>
