---
---


@import "reset";
@import "variables";


/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;

}

body {
	//background: $white;
	background: #fdfdfd;
  font: 18px/1.45 $helvetica;
  color: $darkGray;
	
}

.container {
  margin-left: 150px;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;

@media (max-width: 1000px)  {
    margin: 0 auto;
width: 100%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.3;
  margin: 1.1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 34px;
	
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
	
}

.posts h2 a {
    font-size:30px;
    color: #333;
   &:hover, &:active {
    color: $blue;
	    text-decoration: none;
  }
  }

.site-info h2 a {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
 
  &:hover, &:active {
    color: $blue;
	   text-decoration: none;
  }
    @include mobile {
    float: none;
    display: block;
    margin: 5px 0px auto;
	     
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 0 0 1.5em;
  max-width: 50rem;
	
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
	text-decoration: underline;
  
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
    height: auto;
}

/* Fixes images in popup boxes from Google Translate */
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
	font-size: .8125em;
  margin-bottom: -30px;
}

/* Specify the color of the selection 
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
} */

/* Nicolas Gallagher's micro clearfix hack http://nicolasgallagher.com/micro-clearfix-hack*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/


/* .masthead */

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 5px 0px auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

.site-name2 {
  margin: 0;
  color: $darkGray;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

.site-name a,
.site-name2 a {

	 &:hover, &:active {
    	   text-decoration: none;
  }
}


.site-description {
  margin: -2px 0 0 0;
  color: $gray;
  font-size: 16px;
	

  @include mobile {
    margin: 0px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; 
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
//    margin-left: 20px;
	  padding: 2px 8px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
	  
	  &:hover, &:active {
    	   text-decoration: none;
  }
	  
      @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.current-link {
   padding: 2px 8px;
    border-radius: 4px;
  background: #ececec;
//  margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

  @include mobile {
      color: $blue;
margin: 0 10px;
  }
 
}


/*.main */

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
 //   margin: 1.8em .8em;
 //   border-left: 2px solid $gray;
//    padding: 0.1em 1em;
//    color: $gray;
 //   font-size: 16px;
    font-style: italic;
	border-left: 1px solid #a73147;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 30px;  
   
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.aside-text-right {
position: relative;
    float: right;
    clear:left;
    width: 100%;
    max-width: 30%;
    padding-left: 40px;
 margin-right: -40%;
    text-align: left;
    position: relative;
 font-size: 13px;
  line-height: 15px;
    color: #a0a0a0;
 margin-bottom: 15px;

@media (max-width: 1250px) {
            margin-right: 0px;
        
    }

@media (max-width: 840px) {
            float: none;
        max-width: 80%;
        display: inline-block;
        text-align: left;
    //  margin-left: 50px;
        width: 100%;
    //    padding: 20px 0 0;
        
    }
}

.aside-text-right:before {
  content: "";
  display: block;
  border-top: 1px solid #f7f7f9;
  width: 30%;
  margin-bottom: 10px;
}
 
.aside-text-right img {
  margin-top: 10px;
}
.aside-text-right a {
    border: 0;
}

.aside-text-right:hover {
   
    color: #666;
   
}

/* для текста в футере */
.wtf { text-align: left; font-size:13px;line-height:19px;}
/* синяя рамка*/
.wff {background-color:#fff;margin:30px 0 30px 0;border-radius:6px;padding:15px 15px 15px;border:#4183C4 2px solid}
.notetip{width:90%;font-size:13px;line-height:15px; border-radius:5px 5px;padding:5px 5px 5px 50px;margin:0;height:auto!important;overflow:hidden;position:relative;bottom:6px;right:6px;border:0 solid #0092e0;background-position:20px 50%;background-repeat:no-repeat}
.address {
	padding: 3% 3.5%;
	background: #f2f2f2;
       display: inline-block;
	width: 100%;
}
/* для выделения текста*/
.hip {
border: 14px solid rgba(0, 182, 242, 0.56);
// text-align: center;
font-size: 26px;
font-weight: bold;
padding: 20px 20px 25px 20px;
width: 100%;
border-radius:6px;
margin-bottom: 1.2em;
max-width: 760px;}
/*для утп*/
.hip2 {
/*background-color:#f9f0eb;*/
background-color:#cacaca;
font-size: 26px;
font-weight: bold;
padding: 20px 20px 25px 20px;
width: 100%;
border-radius:6px;
margin-bottom: 1.3em;
max-width: 760px;}

/* онлайн-решения*/
.wtf2 { text-align: left; font-size:14px;line-height:19px;}

/* шрифт на кегль меньше для таблиц*/
.fontme { font-size:14px;line-height:19px;

@media (max-width: 716px) {
        font-size: 18px;
	line-height:25px;
  }
}

/* подчеркивание */

mark {background: #d9d9d9; padding: 1px 0; }

/* выделение тегов*/
.blocks ul, ol {
     margin: 15px 0;
    padding-left: 0px;
	border-bottom-width: 0;
}

.blocks li {
     background-color: #95a5a6;
     border-radius: 5px;
     display: inline-block;
     margin: 4px 0px 0px;
     padding: 0px 10px;
     
}

.blocks li a {
     color: #ffffff;
     display: inline-block;
     line-height: 1.4em;
     background-color: #95a5a6;
	border-bottom-width: 0;
	
	&:hover, &:active {
    color: #555555;
	   text-decoration: none;
  }
}



/*.blocks li:nth-child(5n+1) a {background-color: #1abc9c;}

//.blocks li:nth-child(5n+2) {background-color: #2ecc71;}

//.blocks li:nth-child(5n+3) {background-color: #3498db;}

//.blocks li:nth-child(5n+4) {     background-color: #f1c40f;}

//.blocks li:nth-child(5n+5) {     background-color: #f39c12;}

//.blocks li:nth-child(5n+6) {     background-color: #e74c3c;}

//.blocks li:nth-child(5n+7) {     background-color: #34495e;}

//.blocks li:nth-child(5n+8) {     background-color: #95a5a6;}

//.blocks li:nth-child(5n+9) {     background-color: #ff6600;}*/

/* mailchimp*/
// #mc_embed_signup form {background-color: #333333; color: #ffffff; text-align:center; border: 1px solid #333333; border-radius: 6px; padding:40px 0 40px 0; }
#mc_embed_signup form {background-color: #333333; color: #ffffff; border: 1px solid #333333; border-radius: 6px; padding:40px 0 40px 15px; }
.mc-field-group { display: inline-block; } /* positions input field horizontally */
#mc_embed_signup input.email {font-family: Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ffffff; border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #3a3329; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#mc_embed_signup label {display:block; font-size:20px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup lab {display:block; font-size:18px; color: #999999; padding-bottom:10px; }
#mc_embed_signup lab2 {display:block; font-size:14px; color: #999999; padding-top:15px; }
#mc_embed_signup lab2 a {color: #999999; text-decoration: underline;  cursor: pointer;}
#mc_embed_signup lab2 a:hover {color: rgba(255, 255, 255, 0.6);}
#mc_embed_signup .clear {display: inline-block;} /* positions button horizontally in line with input */
#mc_embed_signup .button {font-size: 14px; border: 1px solid #66bbff; border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; letter-spacing: .03em; color: #66bbff; background-color: #333333; box-sizing:border-box; height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s;}
#mc_embed_signup .button:hover {background-color:#66bbff; border: 1px solid #66bbff; color: #161616; cursor:pointer;}
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
@media (max-width: 768px) {
    #mc_embed_signup input.email {width:90%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 90%; margin:0; }
}
/* телефон в шапке*/

.tel a { 
  text-align: left; 
    margin: -5px 0 0 0;
  color: $gray;
  font-size: 13px;
	
  
  @include mobile {
    margin: 3px 0;
  }
}

.tel a:hover, .tel a:active { color: $blue; text-decoration: none;}

/* related*/

.rect {
    border-top: 1px solid #b4b4b4;
        padding-top: 15px;
    margin:0 auto;
}

/* video*/

.video {
  width: 100%;
  position: relative;
  padding-top: 56.25%;
}
.video iframe, .video object, .video embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* таблицы */

table {
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.9em;
    width: 100%;
    margin-bottom: 1.1em;
}

th,
td {
	padding: 2%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border-bottom: 1px solid #DDD;
}
th { padding-top: 0;
font-weight: bold;
	color: #111;}

thead {
	vertical-align: bottom;
	white-space: nowrap;
}
	

/* Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start*/
@import "highlights";
@import "svg-icons";
@import "search";

/*responsive*/

.img-responsive {
   
    max-width: 100%;
    height: auto;
    
}

.img-shadow {box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);}
/* подпись к фото респондента */

.person {
  
  font-size: 0.9em;
  border-top:1px solid #DDD; 
  
  
}

/*grid */
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
	margin-bottom: 1em;
}

[class*="c-"] {
    grid-column: span 12;
    padding: 10px 0 10px;
 //   max-width: 30rem;
}


 /* 720px */
@media only screen and (min-width: 720px) { 
    

    .c-1 {
        grid-column: span 1
    }

    .c-2 {
        grid-column: span 2
    }

    .c-3 {
        grid-column: span 3
    }

    .c-4 {
        grid-column: span 4
    }

    .c-5 {
        grid-column: span 5
    }

    .c-6 {
        grid-column: span 6
    }

    .c-7 {
        grid-column: span 7
    }

    .c-8 {
        grid-column: span 8
    }

    .c-9 {
        grid-column: span 9
    }

    .c-10 {
        grid-column: span 10
    }

    .c-11 {
        grid-column: span 11
    }

    .c-12 {
        grid-column: span 12
    }
  
}

/* карусель*/
.car,.car-inner{position:relative}#title,.car-indicators{padding:0;text-align:center}#title,.car-control,.car-indicators{text-align:center}.car{box-shadow:0 1px 6px rgba(0,0,0,.64);margin-top:26px;margin-bottom:20px}.car-inner{overflow:hidden;width:100%}.car-open:checked+.car-item{position:static;opacity:100}#title,.car-control,.car-indicators,.car-item{position:absolute}.car-item{opacity:0;-webkit-transition:opacity .6s ease-out;transition:opacity .6s ease-out}.car-item img{display:block;height:auto;max-width:100%}.car-control{background:rgba(0,0,0,.28);border-radius:50%;color:#fff;display:none;font-size:40px;height:40px;line-height:35px;top:50%;-webkit-transform:translate(0,-50%);cursor:pointer;-ms-transform:translate(0,-50%);transform:translate(0,-50%);width:40px;z-index:10}.car-control.prev{left:2%}.car-control.next{right:2%}.car-control:hover{background:rgba(0,0,0,.8);color:#aaa}#car-1:checked~.control-1,#car-2:checked~.control-2,#car-3:checked~.control-3,#car-4:checked~.control-4,#car-5:checked~.control-5,#car-6:checked~.control-6,#car-7:checked~.control-7,#car-8:checked~.control-8,#car-9:checked~.control-9,#car-10:checked~.control-10,#car-11:checked~.control-11,#car-12:checked~.control-12,#car-13:checked ~ .control-13,#car-14:checked ~ .control-14,#car-15:checked ~ .control-15,#car-16:checked ~ .control-16,#car-17:checked ~ .control-17,#car-18:checked ~ .control-18,#car-19:checked ~ .control-19,#car-20:checked ~ .control-20,#car-21:checked ~ .control-21,#car-22:checked ~ .control-22,#car-23:checked ~ .control-23,#car-24:checked ~ .control-24,#car-25:checked ~ .control-25,#car-26:checked ~ .control-26,#car-27:checked ~ .control-27,#car-28:checked ~ .control-28,#car-29:checked ~ .control-29,#car-30:checked ~ .control-30,#car-31:checked ~ .control-31,#car-32:checked ~ .control-32,#car-33:checked ~ .control-33,#car-34:checked ~ .control-34,#car-35:checked ~ .control-35,#car-36:checked ~ .control-36,#car-37:checked ~ .control-37,#car-38:checked ~ .control-38,#car-39:checked ~ .control-39,#car-40:checked ~ .control-40,#car-41:checked ~ .control-41,#car-42:checked ~ .control-42,#car-43:checked ~ .control-43,#car-44:checked ~ .control-44,#car-45:checked ~ .control-45,#car-46:checked ~ .control-46,#car-47:checked ~ .control-47,#car-48:checked ~ .control-48,#car-49:checked ~ .control-49,#car-50:checked ~ .control-50,#car-51:checked ~ .control-51,#car-52:checked ~ .control-52,#car-53:checked ~ .control-53,#car-54:checked ~ .control-54,#car-55:checked ~ .control-55,#car-56:checked ~ .control-56,#car-57:checked ~ .control-57{display:block}.car-indicators{list-style:none;margin:0;bottom:2%;left:0;right:0;z-index:10}.car-indicators li{display:inline-block;margin:0 5px}.car-bullet{color:#fff;cursor:pointer;display:block;font-size:35px}.car-bullet:hover{color:#aaa}#car-1:checked~.control-1~.car-indicators li:nth-child(1) .car-bullet,#car-2:checked~.control-2~.car-indicators li:nth-child(2) .car-bullet,#car-3:checked~.control-3~.car-indicators li:nth-child(3) .car-bullet,#car-4:checked~.control-4~.car-indicators li:nth-child(4) .car-bullet,#car-5:checked~.control-5~.car-indicators li:nth-child(5) .car-bullet,#car-6:checked~.control-6~.car-indicators li:nth-child(6) .car-bullet,#car-7:checked~.control-7~.car-indicators li:nth-child(7) .car-bullet{color:#428bca}#title{width:100%;margin:0 auto;font-size:27px;color:rgba(255,255,255,1);font-family:'Open Sans',sans-serif;z-index:9999;text-shadow:0 1px 2px rgba(0,0,0,.33),-1px 0 2px rgba(255,255,255,0)}



.sha2re-buttons {
    padding-bottom: 0.75rem;
 text-align: right;
}

.sha2re-buttons a:hover,
.sha2re-buttons a:active {
  	text-decoration: none;
    }

.ya-site-form__search-wrap td {

border-bottom: none;
}
.ya-site-form__form td {
padding: 0%;
border-bottom: none;
}
#ya-site-form0 .ya-site-form__search-input {
    padding: 0px;
}
#ya-site-form0 .ya-site-form__wrap {
    width: 70%;
}
// .share-box {min-height: 30px;}
.share-down {padding: 24px 1px 0; min-height: 30px; color: $gray;}

.share-down a:hover,
.share-down a:active {
  	text-decoration: none;
    }

.wrapper-masthead img {display: unset !important;}

