---
layout: page
title: Теги
permalink: /tags/
---
<div class="container">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<h2 class="tag-key" id="{{ t | downcase }}">{{ t | capitalize }}</h2>

{% for post in posts %}
  {% if post.tags contains t %}
    <a class="post-index-item" href="{{ post.url }}">
      <span class="date">{{ post.date |  date: "%B %e, %Y" | replace: 'January', 'январь' | replace: 'February', 'февраль' | replace: 'March', 'март' | replace: 'April', 'апрель' | replace: 'May', 'май' | replace: 'June', 'июнь' | replace: 'July', 'июль' | replace: 'August', 'август' | replace: 'September', 'сентябрь' | replace: 'October', 'октябрь' | replace: 'November', 'ноябрь' | replace: 'December', 'декабрь' }}</span>
                <span class="article">{{ post.title }}</span>
    </a>
  {% endif %}
{% endfor %}

{% endfor %}
</div>
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
