---
layout: page
title: Теги
permalink: /tags/
---
<div class="container">
{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

<h2 class="tag-key" id="{{ t | downcase }}">{{ t | capitalize }}</h2>

{% for post in posts %}
  {% if post.tags contains t %}
    <a class="post-index-item" href="{{ post.url }}">
      <span class="date">{{ post.date | localize: "%d %b, %Y" }}</span>
      <span class="article">{{ post.title }}</span>
    </a>
  {% endif %}
{% endfor %}

{% endfor %}
</div>

