@import "parts/variables";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";


.intro {
font-size: 1.3em;
margin-bottom: 3rem;
}

.favorities {
  margin-top: 1em;
}

.focus-line {
    border-top: 20px solid $focus;
  }


.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   justify-content: space-between;

}

.c-flex {
  flex:1;
margin-bottom: 1em;
  min-width: 290px;
  	ul{list-style:none;padding:0px;margin:.5em 0 0 0;}
  	li{margin-bottom:0.8em; line-height:20px;}
}

.c-flex:not(:last-child) {
  padding-right: 4rem;
}

h1.blog  {
  text-transform: uppercase;
}

.archive {
    margin-top: 3em;
  }

.archive-list {
      font-size: 80%;
  }

.archive-list  h3 {
    font-weight: 600;
    font-size: 1.5em;
    font-style: normal;
  }

.item {
    display: flex;
    flex-flow: column;
          a {
              outline: hidden;
          }
         a:hover {
          text-decoration: none;
          outline: none;
  }
  }

  .article_title {
    font-size: 1.1em;
    font-weight: 600;
    color: #333;
  box-shadow: inset 0 -.4em 0 $focus;
    outline: none;
  transition: box-shadow .2s ease-in-out;

    &:hover,
    &:active {
      box-shadow: inset 0 -1.2em 0 $focus;
  padding: .2em 0 0 0;
  outline: none;
      }
  }



  .archive-list > p {
    color: $text;
  }

  .archive-list > img {
    order: -1;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .item-date {
    padding-right: .7em;
    color: #737373;
  }


/* ============support GRID ============== */

@supports (display: grid) {
.blog-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1rem 1fr 1rem 1fr 1rem 1fr 1rem auto;
  grid-template-columns: 50px 1fr 1fr 1fr auto;
  -ms-grid-rows: auto 1rem auto 1rem 50px 1rem auto;
  grid-template-rows: auto auto 50px auto;
  grid-gap: 1rem;
          grid-template-areas:
    "a . b b ."
    ". . c c ."
    "d d d d d"
    "f f f f f"
    "e e e e e"
}


.title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 7;
  -ms-grid-column: 1;
  grid-area: a;
}

.intro {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: b;
  margin:0;

}

.favorities {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: d;
  align-items: end;
  margin-top: 1em;

}

.description {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: f;
}



.archive {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: e;
  }


.focus-line {
  -ms-grid-column: 3;
-ms-grid-column-span: 2;
grid-column: 3 / 5;
 -ms-grid-row: 2;
 grid-row: 2;
  }


.archive-list {

  display: -ms-grid;

  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 3.5rem;
}

}

/* =================end of support Grid =============== */

@media screen and (max-width:500px){
    .blog-grid-container {
      display: flex;
      flex-direction: column;
    }
    .intro {
      font-size: 1em;
    }

.favorities {
  margin: 3rem 0 .5rem 0;
}

h4 {margin-bottom: .7em;}

.article_title {
        font-size: 1.2em;
      }
}
