@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";
@import "parts/media-object";
@import "parts/image";



.conception-feedback {
  margin: 2rem 0;
  background: #e7dfe0;
  border: 12px solid #e7dfe0;
 // max-width: 48rem;
  font-family: sans-serif;
  border-radius: 8px;

  p {
    margin-top: 0;
    font-size: 19px;
    line-height: 1.25;

    }
}


@supports (display: grid) {
  @media screen and (min-width: 720px) {
    article {
      display: grid;
       grid-template-columns:
    minmax(40px, 60px)
    minmax(65ch, 75ch)
    minmax(1.2rem, auto);
    max-width: 1280px;
    grid-gap: 0 1em;
    }

.title {
    grid-column: 1/3;
    margin-bottom: 1em;
  }

.meta {
  grid-column:1;
 // grid-row-start: 4;
  grid-row-end: span 2;
  }

article > * {
  grid-column: 1/3;
}

.full-bleed {
grid-column:1/4;
}


}
}

p + ul {
  margin: 0;
}

.comparison {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.comparison-item {

  display: flex;
  flex-direction: column;
}

.comparison-item-padding {
  padding: 5%;
}

@media (min-width: 636px) {
.comparison {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}
.column-width {
  max-width: 250px;
}

}


/*  image + text */

.imageWithText {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 1.5em 0;
}

.imageWithText-item {
  display: flex;
  flex-direction: column;
}


@media (min-width: 636px) {
.imageWithText {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}
}





/* отстут перед абзацем */

.interval {
  margin-top: 4.5259677419em;
}

@media (min-width: 768px) {
  .interval {
    margin-top: 6.06em;
  }
}

/* text */

.text {
 // max-width: 75ch;

}



/* выделение цветом */

.marked-smoke {
  background-color: #f1f0ee;
}

/* подпись к картинке */


.wtf2 {

    color: #333;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 1em;
    margin-top:1em;
}
