@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";
@import "parts/media-object";




.conception-feedback {
  margin: 2rem 0;
  background: #e7dfe0;
  border: 12px solid #e7dfe0;
 // max-width: 48rem;
  font-family: sans-serif;
  border-radius: 8px;

  p {
    margin-top: 0;
    font-size: 19px;
    line-height: 1.25;
    
    }
}




.comparison {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.comparison-item {
 
  display: flex;
  flex-direction: column;
}

.comparison-item-padding {
  padding: 5%;
}

@media (min-width: 636px) {
.comparison {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}
.column-width {
  max-width: 250px;
}

}


/* отстут перед абзацем */

.interval {
  margin-top: 4.5259677419em;
}

@media (min-width: 768px) {
  .interval {
    margin-top: 6.06em;
  }
}

/* text */

.text {
  max-width: 50rem;

}



/* выделение цветом */

.marked-smoke {
  background-color: #f1f0ee;
}

/* подпись к картинке */


.wtf2 {

    color: #333;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 1em;
    margin-top:1em;
}
