@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";
@import "parts/side";

.content {
      min-height: 75vh;
            }

h1  {
    text-transform: uppercase;
  }


.contact-data {
      font-size: 1em;
      padding: 1%;
     margin: .5em 0;

      ul > li {
        margin:.7em 0;
      }
  }


.img-shadow {-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}


.text-width {
  max-width: 75ch;
}





.size-2x {
  font-size: calc(1.2em + .5vw);
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.2em;
}



.block-200 {
  width: 200px;
  height: 200px;
}



