@import "parts/variables";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";


.content {
      min-height: 75vh;
            }

h1  {
    text-transform: uppercase;
  }


.contact-data {
      font-size: 1em;
      padding: 1%;
     margin: .5em 0;

      ul > li {
        margin:.7em 0;
      }
  }


.img-shadow {-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}



@supports (display: grid) {

.block {
   margin: 1em 0;
  height: 570px;
}

@media (min-width: 437px) {
  .contact-block {
    display: -ms-grid;
    display: grid;
     -ms-grid-columns: 1fr minmax(0, 30ch) 1fr;
     grid-template-columns: 1fr minmax(0, 30ch) 1fr;
     -ms-grid-rows: 5% .5fr auto auto .2fr;
     grid-template-rows: 5% .5fr auto auto .2fr;
     width: 100%;
     height: 100%;

        img,
        picture {
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          grid-column: 1 / 3;
          -ms-grid-row: 1;
          -ms-grid-row-span: 5;
          grid-row: 1 / 6;
          z-index: -1;
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
             object-fit: cover;
          -o-object-position: 50% 100%;
             object-position: 50% 100%;
        }
        .contact-data { -ms-grid-column: 2; -ms-grid-column-span: 2; grid-column: 2 / 4;
          -ms-grid-row: 3;
          -ms-grid-row-span: 2;
          grid-row: 3 / 5;
          -ms-grid-row-align: start;
          align-self: start;
          background: #e7eaef;
          padding: 2%;
          margin: 0;
          font-size: 1.1em;

          }
      }
  }
}
