<style>
* {
  margin: 0;
            }
html, body {
  height: 100%;
display: flex;
    flex-direction: column;
}
  
html,
body,
div,
h1,
h2,
p,
a,
img,
strong,
b,
i,
form,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

footer,
header,
nav {
  display: block;
}

body {
  line-height: 1;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background: #ffffff;
  font: 18px/1.45 Arial,Helvetica,sans-serif;
  color: #333;
}



.container {
  margin-left: 150px;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
   flex-grow: 1;

@media (max-width: 1000px)  {
    margin: 0 auto;
width: 100%;
  }
}
  
  
  
  
  
h1,
h2 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #111;
  font-weight: bold;
  line-height: 1.3;
  margin: 1.1em 0 15px;
  padding: 0;
}

@media screen and (max-width: 640px) {
  h1,
  h2 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

.site-info h2 a {
  margin: 0;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  .site-info h2 a {
    float: none;
    display: block;
    margin: 5px 0px auto;
  }
}

p {
  margin: 0 0 1.5em;
  max-width: 50rem;
}

a {
  color: #0070c9;
  text-decoration: none;
}

i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

@media screen and (max-width: 640px) {
  .site-avatar {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-avatar img {
  border-radius: 5px;
}

.site-info {
  float: left;
}

@media screen and (max-width: 640px) {
  .site-info {
    float: none;
    display: block;
    margin: 5px 0px auto;
  }
}

.site-name {
  margin: 0;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}

.site-description {
  margin: -2px 0 0 0;
  color: #666;
  font-size: 16px;
}

@media screen and (max-width: 640px) {
  .site-description {
    margin: 0px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
  nav {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}

nav a {
 // margin-left: 20px;
  padding: 2px 8px;
  color: #333;
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}

@media screen and (max-width: 640px) {
  nav a {
    margin: 0 10px;
    color: #0070c9;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.wtf {
  text-align: left;
  font-size: 13px;
  line-height: 19px;
}

.tel a {
  text-align: left;
  margin: -5px 0 0 0;
  color: #666;
  font-size: 13px;
}

@media screen and (max-width: 640px) {
  .tel a {
    margin: 3px 0;
  }
}

.search-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}


</style>
