


@import "d-menu";



.all-site {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
.conteiner {
		width: 75vw;
		max-width: 1700px;
	}
	.head {		
		padding: 7vw 5vw 1vw 2rem;
}
.head2,
.head3,
.content {
		padding-left: 2rem;
	}
.content {
	padding-bottom:2rem;
	}


@import "d-footer";