@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";
@import "parts/toc";
@import "parts/side";



h1  {
    text-transform: uppercase;
  }

  
.FAQ {
margin: 5em 0;
max-width: 720px;
}
.question {
  margin-bottom: 3em;
}

.FAQ li {
  margin-bottom: 8px;
}
