<div class="wrapper-footer">
      <div class="container">
         <footer class="footer">
    <div class="wtf"> 
	    &copy; 2015-2017, ИП Бартошевич Д.А., УНП 192414874 <br />
	    
	  <b> <a href="tel:+375297753340">+375 (29) 775-33-40</a> - <a href="mailto:dmitry@bartoshevich.by">dmitry@bartoshevich.by</a> - <a href="https://www.facebook.com/bartoshevichby/" rel="nofollow">фейсбук</a> - <a href="https://www.linkedin.com/in/bartoshevich" rel="nofollow">линкедин</a> - <a href="https://twitter.com/dbartoshevich" rel="nofollow">твитер</a> - <a href="https://plus.google.com/u/0/+DmitryBartoshevich/posts" rel="nofollow"><nobr>гугл плюс</nobr></a>
	</b> <br/>
		 <a href="http://www.bartoshevich.by/confidentiality/">Политика конфиденциальности</a></div>
		
		          
</footer>     
  </div>
        </div>
