<div class="wrapper-footer">
      <div class="container">
         <footer class="footer">
    <div class="wtf"> 
	    &copy; 2015-2017, ИП Бартошевич Д.А., УНП 192414874 <br />
	    
	  <b> <a href="tel:+375297753340">+375 (29) 775-33-40</a> - <a href="mailto:dmitry@bartoshevich.by">dmitry@bartoshevich.by</a> - <a href="https://plus.google.com/u/0/+DmitryBartoshevich/posts"  target="_blank" rel="noopener" rel="nofollow">гугл плюс</a> - <a href="https://www.facebook.com/bartoshevichby/"  target="_blank" rel="noopener" rel="nofollow">фейсбук</a> - <a href="https://www.linkedin.com/in/bartoshevich"  target="_blank" rel="noopener" rel="nofollow">линкедин</a> - <a href="https://twitter.com/dbartoshevich"  target="_blank" rel="noopener" rel="nofollow">твитер</a> 
	</b> <br/>
		 <a href="/confidentiality/">Политика конфиденциальности</a></div>
		
		          
</footer>     
  </div>
        </div>
