<div class="footer" itemscope itemtype="http://schema.org/Organization">
<div class="wrapper">

		<div class="footer-flex">
						<div class="footer-item" >
									<a class="no-link" href="/">Главная</a><br/>
									<a class="no-link" href="/me/">Проекты</a><br/>
										<a class="no-link" href="/blog/">Блог</a><br/>
								<a class="no-link" href="/confidentiality/">Политика конфиденциальности</a>

							</div>


						 <div class="footer-item">
									<strong class="uppercase footer-menu">Услуги</strong> <br/>
									Аудит маркетинга<br/>
									Стратегия маркетинга<br/>
									Концепция бренда <br />
									Концепция рекламы<br/>
									Сопровождение <br/>
						 </div>


						 <div class="footer-item">
						 		 <strong class="uppercase footer-menu">Контакты</strong> <br/>
								 <link href="https://bartoshevich.by" itemprop="url"/><span itemprop="name">Дмитрий Бартошевич</span><br/>
									Офис:<span itemprop="address"> г. Минск, ул. Ольшевского, 22</span><br/>
										<a class="no-link" href="mailto:dmitry@bartoshevich.by" title="написать" itemprop="email">dmitry@bartoshevich.by</a><br/>
								<a class="no-link" href="tel:+375297753340" title="позвонить" itemprop="telephone" >+375 (29) 775.33.40</a>
						 </div>


							<div class="footer-item" >
								<strong class="uppercase footer-menu">Читать в&nbsp;сетях</strong><br>
								 <a class="no-link" href="https://www.facebook.com/bartoshevichby/" itemprop="sameAs" target="_blank" rel="noopener nofollow">фейсбук</a> - <a class="no-link" href="https://www.linkedin.com/in/bartoshevich" itemprop="sameAs" target="_blank" rel="noopener nofollow">линкедин</a> - <a class="no-link" href="https://twitter.com/dbartoshevich" itemprop="sameAs" target="_blank" rel="noopener nofollow">твиттер</a>

							</div>

		</div>


		<div class="footer-flex">
					<div class="footer-item2" >
					@ 2015-2019, <span itemprop="taxID" > УНП 192414874</span>	<br/>
		 При использовании материалов сайта ссылка (для интернет-ресурсов&nbsp;— гиперссылка) обязательна.
						</div>

			</div>
</div>
</div>
