@import "parts/variables";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";



.headline-wrapper {
	margin: 2em 0 1.1em 0;
	padding: 0 0 14px 0;
//	text-align: center;
	max-width: 725px;
}

@media screen and (min-width:571px) {
    .headline-wrapper {
	text-align: left;
	padding: 0 0 44px 0;
    }
}

.headline-wrapper h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0;
}

.headline-wrapper h2 {
	font-size: 30px;
	font-weight: 700;
margin: .2em 0 1em 0;


}

@media screen and (min-width: 734px) {
	.headline-wrapper h1 {
		font-size: 42px;

	}
.headline-wrapper h2 {
		font-size: 42px;
		letter-spacing: .011em;
	}

}



.sub-title {

	color:#8c8c8c;
	font-size: 19px;
	line-height: 1.19048;
	font-weight: 600;
	letter-spacing: .011em;
}

@media screen and (min-width: 734px) {
	.b-large-text {
		font-size: 40px;
		line-height: 1.1;
		letter-spacing: 0em;
	//	max-width: 725px;
	//	width: 83%;

	}
	.sub-title {
		font-size: 21px;
		line-height: 1.19048;
		letter-spacing: .011em;
	}

}

.headline-wrapper a {
	font-size: 19px;
line-height: 1.381;
color: #1d1d1f;
font-weight: 600;
letter-spacing: .007em;

}


@media screen and (min-width:735px) {

	.sub-title {
		font-size: 24px;
		line-height: 28px;
	}
}



main {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

picture.figure1,
picture.figure2,
.cytata,
.blog,
.email,
.clients,
.keypoint,
.phone {
	margin-top: 5px;
}


picture,
img   {
  display: block;
  width: 100%;
//  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
	margin: auto;
}


p {
  margin-bottom: 1em;
}


.margin-bottom {
	margin-bottom: 5em;
  max-width: 720px;
margin-left: auto;
margin-right: auto;

}


.flex-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
//	font-size: 1.1em;
	 flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}


.flex-wrapper-item {
margin: auto;

}


.flex-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.flex-wrapper li {
    margin: 12px 0;
}


.keypoint {
  padding: 2em 1em;
  background-color: #263340;
  color: white;
	font-size:1.4em;
	line-height: 1.4em;
	min-height: 60px;
//	text-align: left;
}









.clients,
.blog,
.phone,
.email,
.keypoint {
	text-align: center;
}


.cytata {
//	font-style: italic;
	//font-size: 1.1em;
	line-height: 1.4em;
	padding: 2em;
	min-height: 60px;
	text-align: left;
}



.blog {
	background: $focus;
	min-height: 60px;
	padding: 2em 0;
	font-weight: 600;

}

.blog a,
.blog a:hover {
  color: #005FC2;

}


.email,
.phone {
	min-height: 60px;
	padding: 2em 0;
	font-weight: 600;
}


.email {
	background: #F7F3DE;
}

.phone {
	color: white;
	background: #eff2f7;
//	font-size: 29px!important;

}

.clients {
	background: #e7eaef;
	padding: 2em 0;
}

.giperlink {
	background:  #f1f0ee;
}

.giperlink,
.giperlink a,
.giperlink a:hover {
	color: 	 #263340 ;
}


.flex-n-roll {
	background: #f1f0ee;
}

.flex-n-roll,
.flex-n-roll a,
.flex-n-roll a:hover {
	color:  #264653;
}

.reference_giperlink {
 color: #435362;
}

.reference_flex {
color: #416473;
}
.reference_giperlink,
.reference_flex {
	font-size:.85em;
	text-align: center;
}



/* grid styles ------------------------------------ */

@supports (display: grid) {


              @media (min-width: 685px) {


								.slogan {
									text-align: left;
									padding: 6vw 0;

							}
							.cytata,
							.clients,
							.blog,
							.phone,
							.email {
								font-size: 1.1em;
								line-height: 1.4em;
						}

							  .cytata,
                .blog,
                .clients,
								.phone {
              	margin-top: 0;
                }

                .margin-bottom {
                max-width: 1280px;

                }

								.figure-img,
								picture,
								img  {
                   height: 100%;
                }

              main {
                max-width: 1280px;
                            display: -ms-grid;
                          display: grid;
                        -ms-grid-columns: 2fr 0 1.2fr 0 1fr 0 1fr 0 1fr;
                          grid-template-columns: 2fr 1.2fr 1fr 1fr 1fr;
                       -ms-grid-rows: 28em 0 26em 0 auto;
                      grid-template-rows: 28em 26em auto;
                          grid-gap: 10px;

                          }


                          picture.figure1 {
                        		-ms-grid-column: 3;
                        		-ms-grid-column-span: 3;
                        		grid-column: 3 / 6;
                        		-ms-grid-row: 1;
                        		grid-row: 1;
                        		margin: inherit;
                          }

													picture.figure2 {
                        		-ms-grid-column: 2;
                        		-ms-grid-column-span: 2;
                        		grid-column: 2 / 4;
                        		-ms-grid-row: 2;
                        		grid-row: 2;
                        		margin: inherit;

                          }


                            .blog {
                          	-ms-grid-column: 1;
                          	grid-column: 1;
                          	-ms-grid-row: 2;
                          	grid-row: 2;
                          }



                          .clients {
                          	-ms-grid-column: 4;
                          	-ms-grid-column-span: 2;
                          	grid-column: 4 / 6;
                          	-ms-grid-row: 2;
                          	-ms-grid-row-span: 2;
                          	grid-row: 2 / 4;
                          }



                          .flex-n-roll  {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 3;
                          	grid-column: 1 / 4;
                          	-ms-grid-row: 3;
                          	grid-row: 3;
                          }

                          .keypoint {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 2;
                          	grid-column: 1 / 3;
                          	-ms-grid-row: 5;
                          	-ms-grid-row-span: 2;
							  grid-row: 5 / 7;
						 margin-top: -10px;
                          }


                          .phone {
                          	-ms-grid-column: 3;
                          	-ms-grid-column-span: 3;
                          	grid-column: 3 / 6;
                          	-ms-grid-row: 6;
                          	grid-row: 6;

                          }



                           .giperlink {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 2;
                          	grid-column: 1 / 3;
                          	-ms-grid-row: 1;
                          	-ms-grid-row-span: 1;
                          	grid-row: 1 / 2;
                          	margin: inherit;

                          }


                          .email {
                          	-ms-grid-column: 3;
                          	-ms-grid-column-span: 3;
                          	grid-column: 3 /6;
                          	-ms-grid-row: 5;
							  grid-row: 5;
							margin-top: -10px;
                          }

              }
}
