@import "parts/variables";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";



.headline-wrapper {
	margin: 2em 0 1.1em 0;
	padding: 14px 0 14px 0;
	text-align: center;
	max-width: 725px;
}

@media screen and (min-width:571px) {
    .headline-wrapper {
	text-align: left;
	padding: 54px 0 44px 0;
    }
}


.b-large-text {
font-size: 36px; //28px;
letter-spacing: 0em;
line-height: 1.1;
font-weight: 600;
margin: 0;
padding: .4em 0;

}

.sub-title {
	
	color:#8c8c8c;
	font-size: 19px;
	line-height: 1.19048;
	font-weight: 600;
	letter-spacing: .011em;
}

@media screen and (min-width: 734px) {
	.b-large-text {
		font-size: 40px;
		line-height: 1.1;
		letter-spacing: 0em;
	//	max-width: 725px;
	//	width: 83%;
		
	}
	.sub-title {
		font-size: 21px;
		line-height: 1.19048;
		letter-spacing: .011em;
	}

}

.headline-wrapper a {
	font-size: 21px;
line-height: 1.381;
color: #1d1d1f;
font-weight: 600;
letter-spacing: .007em;

}


@media screen and (min-width:735px) {
	.b-large-text {
		font-size: 54px;
		line-height: 1.07143;
		letter-spacing: -.005em;
			
		
	}
	.sub-title {
		font-size: 24px;
		line-height: 28px;
	}

}

@media screen and (min-width:1068px) {
    .b-large-text {
    font-size: 58px;//38px;
	line-height: 1.0625; //46px;
	letter-spacing: -.009em;
	 
    }
}







main {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

picture.figure1,
picture.figure2,
.cytata,
.blog,
.email,
.clients,
.keypoint {
	margin-top: 5px;
}


picture,
img   {
  display: block;
  width: 100%;
//  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
	margin: auto;
}

.keypoint {
  padding: 40px;
  background-color: #333;
  color: white;
}

.title {
	padding: 15%;
	color: $text;
	background: #f5f5f5;
}

p {
  margin-bottom: 1em;
}


.margin-bottom {
	margin-bottom: 5em;
  max-width: 720px;
margin-left: auto;
margin-right: auto;

}


.flex-wrapper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
	font-size: 1.1em;
	 flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
}


.flex-wrapper-item {
margin: auto;
text-align: center;
}


.flex-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.flex-wrapper li {
    margin: 12px 0;
}

.reference {
	font-size:.9em;
	color: #696969;
}

.cytata {
	font-size: 1em;
	font-style: italic;
	line-height: 1.4em;
	color: $text;
	background: #eff2f7;
	padding: 2em;
	min-height: 60px;
}

.cytata a {
	color:$text;
	
}

.keypoint {
	font-size:1.3em;
}

.blog {
	background: $focus;
	min-height: 60px;
	padding: 2em 0;
	font-weight: 600;

}

.blog a,
.blog a:hover {
  color: #005FC2;

}


.email {
	background: #F7F3DE;
	min-height: 60px;
	padding: 2em 0;
	font-weight: 600;
}

.email p {
  margin: 0;
}

.clients {
	background: #e7eaef;
	padding: 2em 0;
}





/* grid styles ------------------------------------ */

@supports (display: grid) {


              @media (min-width: 570px) {


								.slogan {
									text-align: left;
									padding: 6vw 0;							
							
							}

                                
              
							
							  .cytata,
                .blog,
                .email,
                .clients,
                .keypoint {
                	margin-top: 0;
                }

                .margin-bottom {
                max-width: 1280px;

                }

								.figure-img,
								picture,
								img  {
                   height: 100%;
                }

              main {
                max-width: 1280px;
                            display: -ms-grid;
                          display: grid;
                        -ms-grid-columns: 2fr 0 1.2fr 0 1fr 0 1fr 0 1fr;
                          grid-template-columns: 2fr 1.2fr 1fr 1fr 1fr;
                       -ms-grid-rows: 28em 0 26em 0 auto;
                      grid-template-rows: 28em 26em auto;
                          grid-gap: 0;

                          }


                          picture.figure1 {
                        		-ms-grid-column: 3;
                        		-ms-grid-column-span: 3;
                        		grid-column: 3 / 6;
                        		-ms-grid-row: 1;
                        		grid-row: 1;
                        		margin: inherit;
                          }

													picture.figure2 {
                        		-ms-grid-column: 2;
                        		-ms-grid-column-span: 2;
                        		grid-column: 2 / 4;
                        		-ms-grid-row: 2;
                        		grid-row: 2;
                        		margin: inherit;

                          }


                          .flex-n-roll {
                          	-ms-grid-column: 1;
                          	grid-column: 1;
                          	-ms-grid-row: 2;
                          	grid-row: 2;
                          }



                          .clients {
                          	-ms-grid-column: 4;
                          	-ms-grid-column-span: 2;
                          	grid-column: 4 / 6;
                          	-ms-grid-row: 2;
                          	-ms-grid-row-span: 2;
                          	grid-row: 2 / 4;
                          }



                          .blog {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 3;
                          	grid-column: 1 / 4;
                          	-ms-grid-row: 3;
                          	grid-row: 3;
                          }

                          .keypoint {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 2;
                          	grid-column: 1 / 3;
                          	-ms-grid-row: 5;
                          	-ms-grid-row-span: 2;
                          	grid-row: 5 / 7;
                          }


                          .giperlink {
                          	-ms-grid-column: 3;
                          	-ms-grid-column-span: 3;
                          	grid-column: 3 / 6;
                          	-ms-grid-row: 6;
                          	grid-row: 6;
                          }



                          .title {
                          	-ms-grid-column: 1;
                          	-ms-grid-column-span: 2;
                          	grid-column: 1 / 3;
                          	-ms-grid-row: 1;
                          	-ms-grid-row-span: 1;
                          	grid-row: 1 / 2;
                          	margin: inherit;
                            	background-color: #f5f5f5;

                          }


                          .email {
                          	-ms-grid-column: 3;
                          	-ms-grid-column-span: 3;
                          	grid-column: 3 /6;
                          	-ms-grid-row: 5;
                          	grid-row: 5;
                          }

              }
}
