


@import "m-menu";


	.content {
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
	-ms-flex-line-pack: center;
	    align-content: center;
	padding: 1rem;
	}
	.head,
	.head2,
	.head3 {
	padding: 1rem;
	}

	.margin-top {
	margin-top: 2em;
	}

	.content {

	 grid-template-columns:   repeat(auto-fill, minmax(280px, 1fr));

	}

@import "m-footer";
