


@import "m-menu";
@import "m-article-h";
@import "m-article-header";




.article {
    margin-top: 10px;
}


.content {	
	-ms-flex-line-pack: center;	
	align-content: center;
	padding: 1rem;
}	



@import "m-mailchimp";

@import "m-footer";


