@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/alarm";
@import "parts/list-article";
@import "parts/footer";
@import "parts/video";
@import "parts/flex-box";


.block-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}

.block-layout__clients {
  background-color: #f2f2f2;
  padding: 2vw;
  margin: 0 0 30px 0; 
}

.block-layout__presentation {
  background: #f1f0ee;
  margin: 3.1em 0 2.5em 0; 
  padding: 2vw;
}

.intro {
 flex: 1;
 margin: 0 0 1.5em 0;
}

.intro-image {
  border: 1px solid #999;
 max-width: 70%;
}

.block-content {
  flex: 1;
  margin: 0;
}

.block-content_links {
font-size: 1em;
margin:0;
}

.block-content__feedbackimage {
  max-width: 400px;
}

audio {
  border: 1px solid #ccc;
}

/*  image + text */

.imageWithText {
  display: flex;
  flex-direction: column;
//  margin: 1.5em 0 1.5em 0;
margin:0;
}

.imageWithText figure {
  margin: 0;
}

.imageWithText-item {
  display: flex;
  flex-direction: column;
}

.wtf2 {
  color: #333;
 // max-width: 65ch;
//max-width: 65ch;
font-size: 0.8em;
margin: 0.4em 0 1em;
line-height: 1.4em;

}

@media (min-width: 636px) {
.imageWithText {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}
}
/*********************/


@media screen and (min-width:560px) {
.block-layout {
display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 1fr; 
   max-width: 1280px;
  grid-gap: 0 2em;  
  
 
}
.intro-image {
  max-width: 100%;
}
.block-layout__clients {
  padding: 2vw;
}
}

@media screen and (min-width:1100px) {
.block-layout {
     grid-template-columns: .7fr 1fr 1fr 1fr; 
   
}   
  }



  .intro {
    grid-column: 1;    
  }

  .block-content {
    grid-column: 2/-1;
  }





.intro_name {
  font-size: 1.2em;
  font-weight: 700;
  color: $text;
  margin:.8em 0 .4em 0;
}

.intro_subtitle {
  color: #666;
  font-style: italic;
  margin: 0.5rem 0;
font-size: 85%;
line-height: 1.4em;
}




.block-layout_links {
  grid-column: 1/ 3;
}

.block-layout_image {
  grid-column: 3/ -1;
}

.block-content_title {
  font-size: calc(1em + .4vw);
margin-bottom: 1.5rem;
font-weight: 400;
line-height: 1.2em;
}


.block-content_title::before {
  content: url('/images/check_circle.svg');
  margin-right: 6px;
  font-size: 80%;
}

h1,
h2 {
  text-transform: uppercase;
}




.liWithoutGap > ul {
  margin: 0 0 0 -2.2em;
  list-style: none;
  overflow: hidden; /* Fix for firefox and IE 10-11  */
-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
page-break-inside: avoid; /* Firefox */
break-inside: avoid; /* IE 10+ */
break-inside: avoid-column;
}


.margin-bottom {
  margin-bottom:.4em;
}





/**************************/


/**********************************/

.me-text	ul{list-style:none;padding:0px;margin:0px;}
.me-text	li{margin-bottom:1em; color: #111; line-height:1.4em;}

//

.done {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-gap: 3rem;
    margin: 4em 0 2em 0;
}



.work-logo {
  height: 90px;
}

.archive-list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    grid-gap: .5rem;
	font-size: 90%;
	line-height: 1.4em;
}

.archive-list  h3 {
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;

}

.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: #f7f7f7;
  padding: 2rem 1rem .5rem 1rem;
}

.archive-list > p {
  color: $text;

}
.archive-list img {
  margin-bottom: 1.3em;
}

.workdate {
margin-top: 0;
margin-bottom: 1em;
line-height: 1.3em;
color:#666;
font-style: italic;
}



.psycareer {
	margin-bottom: 5em;
	padding: 3em 1rem;
	background: #f7f7f7;

}

.psycareer img {
	float: left;
	  shape-outside: circle();
  margin: 1em 1em 2em 0;
}



.done-update {
  font-size: 14px;
  font-weight: 100;
 color: #6d6d6d;
}
