

<meta name="google-site-verification" content="k_w8istwR04PocDmdpSQHIcgwbPfx8cDYy5Z2Y5bvuA" />
<meta name="yandex-verification" content="29cd2d09fdd2bc5e" />
<link href="https://res.cloudinary.com/" rel="dns-prefetch" />


<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="theme-color" content="#ffffff">


<meta name="referrer" content="strict-origin-when-cross-origin">


<meta name="wot-verification" content="9e40d766e6d6b17ee528"/>
<meta name="author" content="Дмитрий Бартошевич" />
<meta name="copyright" content="Все права принадлежат Дмитрию Бартошевичу - https://bartoshevich.by">
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<link rel="canonical" href="{{ page.url | prepend: site.url }}">
<link rel="author" href="https://plus.google.com/u/0/+DmitryBartoshevich?rel=author"/>

<meta property="og:locale" content="ru_RU">
<meta property="og:type" content="website">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}маркетолог Дмитрий Бартошевич{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}https://res.cloudinary.com/bartoshevich/image/upload/q_auto,f_auto/v1531699200/site/bartoshevich.jpg{% endif %}" />
<meta property="og:site_name" content="bartoshevich.by">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}Дмитрий Бартошевич{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@dbartoshevich" />
<meta name="twitter:creator" content="@dbartoshevich">
<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}https://res.cloudinary.com/bartoshevich/image/upload/q_auto,f_auto/v1531699200/site/bartoshevich.jpg{% endif %}">
