    <meta charset="utf-8" />
    <meta http-equiv='Content-Type' content='text/html'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<link rel="icon" href="/images/16.png"/>
<link rel="apple-touch-icon" sizes="32x32" href="/images/32.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/180-ios.png" />

    <meta name="author" content="{{ site.name }}" />



    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
