<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Дмитрий Бартошевич",
  "url": "https://www.bartoshevich.by",
  "sameAs": [
    "https://www.facebook.com/bartoshevichby",
    "https://google.com/+DmitryBartoshevich",
    "https://www.linkedin.com/in/bartoshevich/",
    "https://twitter.com/dbartoshevich"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "https://search.google.com/structured-data/testing-tool/",
  "contactPoint": [
    { "@type": "ContactPoint",
      "telephone": "+375-29-775-33-40",
      "contactType": "customer service"
    }
  ]
}
</script>

