
@import "parts/variables";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/toc";
@import "parts/text-style";
@import "parts/table";
@import "parts/code";
@import "parts/side";
/*@import "parts/grid"; */
@import "parts/subscription";
@import "parts/footer";
@import "parts/alarm";
@import "parts/media-object";
@import "parts/guest";


article {
  max-width: 720px;
  display: flex;
  flex-direction: column;

}

@supports (display: grid) {
  @media screen and (min-width: 720px) { 
    article {
      display: grid;
       grid-template-columns:
    minmax(40px, 60px)
    minmax(65ch, 72ch)
    minmax(1.2rem, auto);
    max-width: 1280px;
    grid-gap: 0 1em;
    } 

.title {
    grid-column: 1/3;
    margin-bottom: 1em;
  }

.meta {
  grid-column:1;
 // grid-row-start: 4;
  grid-row-end: span 2;
  }

article > * {
  grid-column: 2;
}

.full-bleed {
grid-column:1/4;
}


}
}

{% comment %}
@supports (display: grid) {
        @media screen and (min-width: 720px) {      
         article {
                       max-width: 1280px;
                       display: grid;
                      grid-template-columns: 40px auto auto;
                      grid-gap: 1em;
                      grid-template-areas: "a a . "
                                           "b c . "
                                           ". c . "
                                           "g g g ";
                    }


                    .title {
                      grid-area: a;
                      max-width: 650px;
                    }

                    .meta {
                      grid-area:b;
                    }

                    .article {
                      grid-area: c;
                      max-width: 720px;
                    }

            }
          @media screen and (min-width: 1100px) {
                        article {
             grid-template-columns: 60px 48rem auto;
           }
        }
       

}


{% endcomment %}

.prefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 2rem;
  font-size: 1em;
}

.prefooter-item1 {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  padding: 5% 3%;
  background-color: #f2f2f2;
  min-width: 250px;
  //max-width: 553px;
  margin: 1% 0;

  li {
  margin-bottom: 10px;
}

}

.prefooter-item2 {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  margin: 1% 0;
  padding: 5% 3%;
  background-color: #dfe3e4;
  min-width: 250px;
 // max-width: 553px;
}


@media screen and (max-width:720px) {
  .prefooter-item1,
  .prefooter-item2 {
    margin: 0;
  }
}
