
@import "variables";
@import "basis";
@import "menu";
@import "article";
@import "toc";
@import "text-style";
@import "table";
@import "code";
@import "side";
@import "grid";
@import "subscription";
@import "footer";


article {
  max-width: 720px;
  display: flex;
  flex-direction: column;

}



@supports (display: grid) {
        @media screen and (min-width: 720px) {
                    article {
                       max-width: 1280px;
                       display: grid;
                       grid-template-columns: 60px 40rem auto;
                      grid-gap: 1em;
                      grid-template-areas: "a a . "
                                           "b c ."
                                           ". c . ";
                    }


                    .title {
                      grid-area: a;
                      max-width: 650px;
                    }

                    .meta {
                      grid-area:b;
                    }

                    .article {
                      grid-area: c;
                      max-width: 720px;
                    }
            }
          @media screen and (min-width: 1100px) {
                        article {
             grid-template-columns: 60px 48rem auto;
           }
}
}


.prefooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 2rem;
  font-size: 1em;
}

.prefooter-item1 {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  padding: 5% 3%;
  background-color: #edeeef;
  min-width: 250px;
  margin: 1%;
}

.prefooter-item2 {
  -webkit-box-flex:2;
      -ms-flex:2;
          flex:2;
  margin: 1%;
  padding: 5% 3%;
  background-color: #dfe3e4;
  width: 100%;
}


@media screen and (max-width:720px) {
  .prefooter-item1,
  .prefooter-item2 {
    margin: 0;
  }
}
