

@import "reset"; 
@import "variables";
@import "menu";
@import "basis";
@import "article-header";






.all-site {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}



.conteiner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #f7f7f7;

}




.article {
    max-width: 780px;
    min-width:280px;
	padding-right:1rem;
}


.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

	
}


.wtf1 {
    
    color: #333;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 2em;
    margin-top:2em;
}

.wtf {
    
    color: #333;
    font-size: 13px;
    line-height: 19px;
}

.wtf a {
	border-bottom: 0;
}

img,
.img-responsive,
.img-shadow  {
    max-width: 100%;
    height: auto;
}


.img-shadow {-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.guest {
	min-height: 250px;
}

.address {
	padding: 3% 3.5%;
	background: #e3e3e3;
    display: inline-block;
	width: 100%;
}

.markedfield {
	padding: 3% 3.5%;
	background: #e3e3e3;
    display: inline-block;
	width: 100%;
}

.focus {
	padding: 2% 3%;
	background: #e3e3e3;
    display: inline-block;
	width: 100%;
}

.address h2 {
	margin: 1em 0 .7em 0 !important;
}

.date {
  	font-style: italic;
  	color: #666;
	font-size: .8125em;
  	margin-bottom: -30px;
}


.article {
  blockquote {
    font-style: italic;
	border-left: 1px solid #a73147;
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 30px;  
  }
  
}


// для выделения текста
.hip {
	border: 2px solid #ffa600;
	font-size: 26px;
	font-weight: bold;
	padding: 20px 20px 25px 20px;
	width: 100%;
	margin-bottom: 1.2em;
	max-width: 760px;
}


//для утп
.hip2 {
	background-color:#e9fbe9;
	font-size: 26px;
	font-weight: bold;
	padding: 20px 20px 25px 20px;
	width: 100%;
	border-radius:6px;
	margin-bottom: 1.3em;
	max-width: 760px;
}



// подчеркивание 
mark {background: #ffffa1; padding: 1px 0; }



// related
.rect {
    border-top: 1px solid #b4b4b4;
    padding-top: 15px;
    margin:0 auto;
}

// шрифт на кегль меньше для таблиц
.fontme { font-size:14px;line-height:19px;
@media (max-width: 716px) {
    font-size: 18px;
	line-height:25px;
  }
}


// синяя рамка
.wff {background-color:#fff;margin:30px 0 30px 0;border-radius:6px;padding:15px 15px 15px;border:#4183C4 2px solid}


.notetip {width:90%;font-size:14px;line-height:15px; border-radius:5px 5px;padding:5px 5px 5px 2em;margin:0;height:auto!important;overflow:hidden;bottom:6px;right:6px;border:0 solid #0092e0;background-position:20px 50%;background-repeat:no-repeat}


// video

.video {
  	width: 100%;
  	position: relative;
  	margin-top: 20px;
  	margin-bottom: 2em;
  	padding-top: 56.25%;
}
.video iframe, .video object, .video embed{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

iframe {
	border:0;
	overflow:hidden;
}

.videoname {
	margin-top:-1.95em;
	color: #333;
    font-size: 13px;
    line-height: 19px;
}

/* таблицы */

table {
    background-color : #f2f2f2;
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.8em;
    width: 100%;
    margin: 1.5em 0 1.5em 0;
    text-align: left;
    
}

th,
td {
	padding: 1%;
	margin: 0;
	overflow: visible;
	line-height: 120%;
	border: 1px solid #cfcfcf;
	
	
}
th { padding-top: 0;
	font-weight: bold;
	color: #111;}

thead {
	vertical-align: bottom;
	white-space: nowrap;
}



.Gainsboro {
	background-color: Gainsboro;
}

.topverticalalign {
	vertical-align: top;
}

//подпись к фото респондента 
.person {
  font-size: 0.9em;
  border-top:1px solid #DDD; 
}

.article a {

	color: $link;
    text-decoration: none;
	cursor: pointer;
	&:hover, &:active {
    color: $link;
	text-decoration: underline;
	border-bottom: 0;
    }	
}


// кнопки поделиться в статье
.sha2re-buttons {
    padding-bottom: 0.75rem;
 	text-align: right;
 	text-decoration: none;
 	border-bottom: 0;
 	height: 28px;
}

.sha2re-buttons a:hover,
.sha2re-buttons a:active {
  	text-decoration: none;
}

.flex-block {
display: flex;
flex-direction: row; flex-wrap: wrap; 
margin-bottom: 2rem;
}

.flex-in {
display: flex;
flex-direction: row; flex-wrap: wrap; align-items: center;
margin-bottom: 2rem;
}

.flex-1 {
-webkit-flex: 1;
flex: 1;
min-width: 270px; max-width: 310px;
padding:0 15px 0 0;
}

.flex-2 {
-webkit-flex: 2;
flex: 2;
min-width: 300px;
}


@import "grid";
@import "subscription";
@import "side";
@import "footer";

