<!--<div class="social-likes">  <div data-service="twitter" title="Twitter">твитнуть</div>   <div data-service="facebook" title="Facebook">поделиться</div>  <div data-service="vkontakte" title="ВКонтакте">поделиться</div>  <div data-service="linkedin" title="linkedIn" data-media="image link, required">рассказать</div> <div data-service="telegram" title="Telegram">отправить</div>  </div>  -->

<p>&nbsp;</p>

<div class="share-box">
<strong>Поделиться:</strong>

<a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" > фейсбук</a>

<a class="t" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"> твитер </a>
        
<a class="g" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >гугл+</a>
        
<a class="r" href="http://vk.com/share.php?url={{site.url}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" > вконтакте</a>

<a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=dbartoshevich" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" > линкедин</a>

</div>

