<!--
<div class="share-buttons">
<div class="share-box">
        
<a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" title="Поделиться в фейсбуке" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"  > <b>фейсбук</b></a>

<a class="t" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" title="Твитнуть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><b> твитер</b> </a>
        
<a class="g" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" title="Плюсануть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><b>гугл+</b></a>
        
<a class="r" href="http://vk.com/share.php?url={{site.url}}{{page.url}}" title="Рассказать во вконтакте"  onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" > <b>вконтакте</b></a>

<a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=dbartoshevich"  title="Поделиться в линкедине" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><b> линкедин</b></a>


 </div></div>-->

<div class="share-buttons">

<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" title="Поделиться в фейсбуке" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><img src="/images/facebook.svg" width="32px" height="32px" alt="фейсбук"> </a>

<a href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" title="Твитнуть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><img src="/images/twitter.svg" width="32px" height="32px" alt="твитер"> </a>
        
<a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" title="Плюсануть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><img src="/images/google.svg" width="32px" height="32px" alt="гугл плюс"></a>
        
<a  href="http://vk.com/share.php?url={{site.url}}{{page.url}}" title="Рассказать во вконтакте"  onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" > <img src="/images/vk.svg" width="32px" height="32px" alt=" вконтакт"></a>

<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=dbartoshevich"  title="Поделиться в линкедине" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><img src="/images/linkedin.svg" width="32px" height="32px" alt="линкедин"></a>

        </div>
