<!--<div class="social-likes">  <div data-service="twitter" title="Twitter">твитнуть</div>   <div data-service="facebook" title="Facebook">поделиться</div>  <div data-service="vkontakte" title="ВКонтакте">поделиться</div>  <div data-service="linkedin" title="linkedIn" data-media="image link, required">рассказать</div> <div data-service="telegram" title="Telegram">отправить</div>  </div>  -->

<div class="likely likely-big">
  <div class="twitter">твитнуть</div>
  <div class="facebook">поделиться</div>
  <div class="vkontakte">рассказать</div>
  <div class="linkedin">линкануть</div>
      <div class="gplus">плюсануть</div>
  <div class="telegram">отправить</div>
  
 
</div>
