
<div class="sha2re-buttons">

<a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" title="Поделиться" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="svg-icon facebook" alt="поделиться в фейсбуке"></i> </a>

<a href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}" title="Твитнуть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="svg-icon twitter" alt="поделиться в твитере"></i> </a>
        
<!--<a href="https://plus.google.com/share?url={{site.url}}{{page.url}}" title="Плюсануть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="svg-icon googleplus"></i></a>-->
        
<a  href="https://vk.com/share.php?url={{site.url}}{{page.url}}" title="Запостить"  onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" > <i class="svg-icon vkontakte" alt="поделиться во вконтакте"></i></a>

<a  href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=dbartoshevich"  title="Рассказать" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="svg-icon linkedin" alt="поделиться в линкедине"></i></a>
  
  </div>
