

<a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}" title="Поделиться в Фейсбуке" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="поделиться в фейсбуке" > фейсбук</a>

<a class="t" href="https://twitter.com/intent/tweet?text=&url={{site.url}}{{page.url}}" title="Твитнуть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="твитнуть"> твитер </a>
        
<a class="g" href="https://plus.google.com/share?url={{site.url}}{{page.url}}" title="Плюсануть" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="отправить в гугл+" >гугл+</a>
        
<a class="r" href="http://vk.com/share.php?url={{site.url}}{{page.url}}" title="Поделиться во Вконтакте"  onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" title="рассказать во вконтакте"> вконтакте</a>

<a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=dbartoshevich"  title="Поделиться в Линкедине" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="поделиться в линкедине"> линкедин</a>
