
<strong>Подписаться на&nbsp;свежие статьи</strong>
<div class="singup">
		
	<div class="singup-item">
		
		<p>Чтобы ничего не&nbsp;пропустить, получайте новый материал о&nbsp;маркетинге и&nbsp;развитии бизнеса на&nbsp;свой почтовый ящик</p>

		
	<!-- кнопка -->
	
			<div class="promo-block" >
			  <div class="button">
					<a href="https://eepurl.com/cmkKcz"  target="_blank" rel="noopener">Подписаться</a>
			  </div>
			</div>
		 
	<!-- конец кнопки " -->





		<p>Нажимая на&nbsp;кнопку, вы&nbsp;даете мне право высылать вам полезные материалы. Отписаться можно в&nbsp;любой момент.  </p>

		
	</div> 
</div>

