@import "parts/variables";
@import "parts/fonts";
@import "parts/basis";
@import "parts/menu";
@import "parts/article";
@import "parts/footer";
@import "parts/alarm";
@import "parts/side";





h1 {
  text-transform: uppercase;
}



.comparison {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.comparison-item {
 
  display: flex;
  flex-direction: column;
}

.comparison-item-padding {
  padding: 5%;
}

@media (min-width: 636px) {
.comparison {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
}
.column-width {
  max-width: 250px;
}

}


/* video */


.video {
  	width: 100%;
  	position: relative;
  	margin-top: 20px;
  	margin-bottom: 2em;
  	padding-top: 56.25%;
}
.video iframe, .video object, .video embed{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

iframe {
	border:0;
	overflow:hidden;
}

.videoname {
	margin-top:-1.95em;
	color: #333;
    font-size: .8em;
    line-height: 1.4em;
}


/* отстут перед абзацем */

.interval {
  margin-top: 4.5259677419em;
}

@media (min-width: 768px) {
  .interval {
    margin-top: 6.06em;
  }
}

/* text */

.text {
  max-width: 75ch;

}



/* выделение цветом */

.marked-smoke {
  background-color: #f1f0ee;
}

/* подпись к картинке */


.wtf2 {

    color: #333;
    font-size: .9em;
    line-height: 1.4em;
    margin-bottom: 1em;
    margin-top:1em;
}
