
.article-header a {
	color: #111;
	max-width: 740px;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid $linkbottom;
	font-weight: 500;
}

.article-header a:hover {
	color: $linkhover;
	text-decoration: none;
}


