
.aside-text-right {
	position: relative;
    float: right;
    clear:left;
    width: 100%;
    max-width: 30%;
    padding-left: 40px;
 	  margin-right: -40%;
    text-align: left;
    position: relative;
  	font-size: 14px;
 	  line-height: 15px;
    color: #a0a0a0;
	margin-bottom: 15px;

@media (max-width: 1430px) {
        margin-right: 0px;       
    }
@media (max-width: 840px) {
        float: none;
        max-width: 80%;
        display: inline-block;
        text-align: left;
        width: 100%;         
    }
}

.aside-text-right:before {
  	content: "";
  	display: block;
  	border-top: 1px solid #f7f7f9;
  	width: 30%;
  	margin-bottom: 10px;
}
 
.aside-text-right img {
  	margin-top: 10px;
}
.aside-text-right a {
    border: 0;
}

.aside-text-right:hover {
    color: #666;   
}
