




.code-highlight {
  margin: 1.5em 0  1.5em 0;
}

pre {
   padding: 0.8rem;
   overflow: auto;
   font-size: 0.9rem;
   line-height: 1.45;
   border-radius: 0.3rem;
     word-wrap: normal;
   -webkit-overflow-scrolling: touch
}
