

  .article h1 {
    font-size: 2.6375em;
    margin-top: 0.07692308em;
    margin-bottom: 0.31538462em;
  }
  .article h2 {
    font-size: 1.7375em;
    margin-top: 2.9em;
    margin-bottom: 0.77419355em;
  }
  .article h3 {
    font-size: 1.3625em;
    margin-top: 1.4em;
    margin-bottom: 0.66em;
  }

