.footer {
	background-color: #303030;
	width:100%;
font-size: .8rem;
	color: #999;

}

.footer-flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
}

.footer a {
	background-color: transparent;
	color: #999;
  text-decoration: none;
	cursor: pointer;
}

a.no-link {
	color: #999;
	border-bottom: 1px solid #777;
}

.footer a:hover, .footer a:active {
color: #4ccda8;
	border-bottom: 1px solid #4ccda8;
	text-decoration: none;
}

.footer-menu {
color: #fff;
}

.footer-item {
	padding: 2rem 1rem 1rem 0;
	min-width: 250px;
    flex:1;
}

.footer-item2 {
		padding: 2em 1em 1em 0;
		color: #777;
}

.uppercase {
	text-transform: uppercase;
}

@media only screen and (max-width:899px) {
						.footer-item,
				.footer-item2 {
				 margin-bottom: 20px;

				}


				.footer {
				padding-top: 2rem;
				}
}
