
.article h1 {
  font-size: 1.95em;
  line-height: 1.1;
  margin: 0.1818182em 0 1.09090909em;
}

.article h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin: 3.5em 0 1em;
}


.article h3 {
  font-size: 1.3em;
  line-height: 1.1;
  margin: 2.03333333em 0 .5333em;
}

.article h2 + h3 {
  margin-top: 1.5em;
}
