@media (max-width: 768px) {
  #mc_embed_signup input.email {width:90%; margin-bottom:5px;}
    #mc_embed_signup .clear {display: block; width: 100% }
    #mc_embed_signup .button {width: 90%; margin:0; }
}