
.nav {
  padding: .5rem 1rem;
border-bottom: 1px solid #b0b5b3;
display: flex;
justify-content: space-between;
text-transform: uppercase;
font-size: .8rem;
font-weight: 700;

}

.nav a {
    text-decoration: none;
}


.menu {
  display: inline;
}

.nav ul {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    padding: 0 .5rem;
}

.menu-item a {
    color: $text;

  }

li.menu-item a {
      color: $text-menu;
  }

.selected {
	      color: #555;
}

.menu-item a:hover,
.li.menu-item a:hover {
  color: $text;
  border-bottom: 1px solid $background;
   text-shadow:  0 1px 0 $hip2;
}