.menu {
	background-color: $menubackground;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: $menutext;
	padding: 1rem;
	}
.menu-item {
	white-space: nowrap; 
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	}

.menu-item a {
	color: $menutext;
	text-decoration: none;
	border-bottom: 0;
	}

.menu-item a:hover,
.menu-item a:active {
	color: $menutext;
}

.grey a {
	color: #d6d6d6;
}


@media (max-height: 750px) {
  .menu-item {
    font-size: 14px;
  }
 }