
//
// VARIABLES
//

// Colors
$link: #0070c9; 
$linkhover: #cc0000;
$linkbottom: #d1d1d1;
$text: #111;
$headline: #000;
$menubackground: #323232;
$menutext: #fff;


// Font stacks
$helvetica:  Arial, Helvetica, sans-serif;
$sizebasis: 18px;