---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
	<title> 404 — Страница не найдена </title>
	{% include critical404.html %}
	
	<link rel="stylesheet" type="text/css" href="/styles/search_style.css">
	{% include meta.html %} 
</head>
<body>
<div class="all-site">	
	{% include menu.html %}
	<div class="conteiner">
		<div class="article-header">
			<h3><a href="/">&larr; на главную</a></h3>
		</div>
		
		
				
		<div class="content">
			<div class="article">
				<h1>{{ page.title }}</h1>
				
		{{ content }}
		<br>
		
		    </div>
		
		
		</div>	
			
		{% include footer.html %}
		</div>
	<div class="aside">
		<a href="#" class="btn">наверх</a>
	</div>
</div>
  {% include meta-footer.html %}
      {% include analytics.html %}
</body>
</html>