---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.5'>
	<title>{{ page.title }}</title>
	{% include google_tag_head.html %}
	{% include meta.html %}


	<style>
    {% capture criticalcss %}
      {% include conf-style.scss %}
  @media only screen and (max-width:899px) {
      {% include m-conf-style.scss %}
  }
  @media only screen and (min-width:900px) {
        {% include d-conf-style.scss %}
    }
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>


	<meta name="robots" content="noindex,nofollow">

</head>
<body>
	{% include google_tag_body.html %}
<div class="all-site">
	{% include menu.html %}
	<div class="conteiner">
		<div class="article-header">
			<h3><a href="/">&larr; на главную страницу</a></h3>
		</div>



		<div class="content">
			<div class="article">
				<h1>Политика конфиден&shy;циаль&shy;ности</h1>

					{{ content }}

		    </div>


		</div>

		{% include footer.html %}
	</div>


</div>


</body>
</html>
