---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
  <head>    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title> 
  {% include criticalmain.html %}
	  {% include meta.html %} 

  
  
  
    
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" /> 
  </head>
	
  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
         <b class="site-avatar">
	
		<img src="/apple-touch-icon-114x114.png" alt="Дмитрий Бартошевич" srcset="/apple-touch-icon-72x72.png 1x, /apple-touch-icon-114x114.png 2x, /apple-touch-icon-144x144.png 3x, /android-chrome-192x192.png 4x" width="70" height="70"/>

		
		</b>
          <div class="site-info">
            <h1 class="site-name2">{{ site.name }}</h1>
            <p class="site-description">{{ site.description }}</p>
		   <strong class="tel"><a href="tel:+375297753340">+375 (29) 775-33-40</a> - <a href="mailto:dmitry@bartoshevich.by">dmitry@bartoshevich.by</a></strong>
          </div>

          <nav>
            
            <a href="{{ site.baseurl }}/me">Обо мне</a>
		  {% include search.html %}
		           </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include footer.html %}


    {% include analytics.html %}
	  {% include meta-footer.html %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" /> 
    
       

  </body>
</html>
