<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
     {% seo %} 

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
       <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/social-likes-next/dist/social-likes_birman.css">
   

  
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Записи</a>
            <a href="{{ site.baseurl }}/about">Обо мне</a>
		           </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
    <div class="wtf"> 
	    &copy; 2015-2017, ИП Бартошевич Д.А., УНП 192414874 <br />
	    
	  <b> +375 29 775-33-40 - <a href="mailto:dmitry@bartoshevich.by">dmitry@bartoshevich.by</a> - <a href="https://www.facebook.com/bartoshevichby/">Фейсбук</a> - <a href="https://www.linkedin.com/in/bartoshevich">Линкедин</a> - <a href="https://twitter.com/dbartoshevich">Твитер</a> - <a href="https://plus.google.com/u/0/+DmitryBartoshevich/posts"><nobr>Гугл Плюс</nobr></a>
	</b> </div>
		
		          
</footer>       
    
	      
	      <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
	     
  </div>
        </div>


    {% include analytics.html %}
    <script src="https://unpkg.com/social-likes-next/dist/social-likes.min.js"></script>
  </body>
</html>
