---
layout: compress
---

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.5'>
	<title>{{ page.title }}</title>
	{% include google_tag_head.html %}
	{% include meta.html %}


	<style>
    {% capture criticalcss %}
      {% include me-style.scss %}
  @media only screen and (max-width:899px) {
      {% include m-me-style.scss %}
  }
  @media only screen and (min-width:900px) {
        {% include d-me-style.scss %}
    }
    {% endcapture %}
    {{ criticalcss | scssify }}
  </style>
	<link rel="stylesheet" type="text/css" href="/styles/icons.css" media="none" onload="if(media!='all')media='all'">

</head>
<body>
{% include google_tag_body.html %}
<div class="all-site">
	{% include menu.html %}
	<div class="conteiner">
		<div class="article-header">
			<h3><a href="/">&larr; на главную страницу</a></h3>
		</div>


		<div class="slogan">
			<p><del>Втюхинг</del> Маркетинг</p>
			<p><del>WOW-эффект</del> Смысл </p>
			<p><del>Пляска идей</del> Cистема действий</p>
		</div>


	<section class="break"></section>



		<div class="me-head">
			<div class="me-head-block">
				<div class="me-head-item">
					<h1>Дмитрий Бартошевич </h1>
					<h2>маркетолог, <br/>консультант по&nbsp;маркетингу</h2>

				</div>
				<div class="me-head-item">
					<img src="https://res.cloudinary.com/bartoshevich/image/upload/w_700/f_auto,q_auto/v1531856696/site/me1-840.jpg" alt="Дмитрий Бартошевич на конференции" />
				</div>


			</div>
			<div class="me-head-block">
				<div class="me-head-item">
					<img src="https://res.cloudinary.com/bartoshevich/image/upload/w_700/f_auto,q_auto/v1531856696/site/me2-840.jpg" alt="Дмитрий Бартошевич" />
				</div>
				<div class="me-head-item">
					<p>Опираюсь на&nbsp;исследования, анализ данных, <a href="/mnenie/otlichie-marketologa-ot-brexuna/">избегаю брехни</a>. Ориентируюсь на&nbsp;<a href="/mnenie/konkurentnoe-preimushhestvo/">пользу и&nbsp;доверие</a>. Работаю по&nbsp;договору, <a href="/mnenie/igra/">не&nbsp;играю в&nbsp;«Спасителя»</a>.</p>

					<p>Если в&nbsp;компании нет маркетолога, беру его функции на&nbsp;себя. Не&nbsp;даю халтурить подрядчикам. Сам ставлю задачи, контролирую исполнение.</p>

					<p>Клиенты платят не&nbsp;за&nbsp;время с&nbsp;9:00 до&nbsp;18:00, а&nbsp;за&nbsp;результат. Без отчислений в&nbsp;ФСЗН, оплаты подоходного налога, больничных и&nbsp;отпусков. </p>
				</div>



			</div>
		</div>








<section class="break"></section>

			<div class="me-text">
				<!--<h2>Немного о&nbsp;том, что</h2>-->
				<div class="row">
					<div class="c-4">
						<ul><li>
							<h2>Сделал</h2>
							</li>
						<!--	<li>
								<a href="/opyt/brand-conception-hormann/">Разрабатываю концепцию бренда для Хёрманн</a>
							</li> -->
							<li>
								<a href="/opyt/brand-strategy-flex-n-roll/">Разработал концепцию бренда <span class="noperenos">«Флекс-н-Ролл»</span></a>
							</li>
							<li>
								<a href="/opyt/3dom-mebel-dlya-semi/">Создал концепцию бренда 3Dom</a>
							</li>
							<li>
								<a href="/opyt/brand-giperlink/">Разработал концепцию бренда Giperlink</a>
							</li>
							<li>
								<a href="/opyt/reklamnyj-tekst-atlant-telekom/">Редактировал рекламный текст Атлант Телеком</a>
							</li>
							<li>
								<a href="/opyt/kejs-delayu-sistemu-skidok/">Сделал систему скидок</a>
							</li>
							<li>
								<a href="/opyt/sobiraem-bazu-podpischikov/">Собирал с&nbsp;нуля базу подписчиков</a>
							</li>
							<li>
								<a href="/mnenie/razrabotka-marketingovoj-strategii/">Усилил маркетинговую стратегию предприятий</a>
							</li>
							<li>
								<a href="/opyt/delayu-sajt-detskogo-psixologa/">Сделал сайт детского психолога</a>
							</li>
							<li>
								<a href="/opyt/reklama-dlya-banka-tinkova/">Рекламировал банк Олега Тинькова</a>
							</li>
							<li>
								выполнил проекты для «Истела Роса», «Danone Беларусь», «САВ-лайн», «MODISTA», «Херманн», «ЮВИ Электроникс», «EGO-ART» и&nbsp;других компаний.
							</li>

						</ul>

					</div>

					<div class="c-4">
						<ul><li><h2>Написал для СМИ</h2></li>
							<li>
								<a href="//probusiness.io/management/4239-neadekvaty-ikholodnaya-shaurma-kak-rabotat-sproblemnymi-klientami.html" target="_blank" rel="noopener">Неадекваты и&nbsp;«холодная шаурма»: как работать с&nbsp;проблемными клиентами</a>
							</li>
							<li>
								<a href="//probusiness.io/tech/2150-kak-vzglyanut-na-rabotu-kompanii-glazami-klientov-chtoby-povysit-prodazhi-metodika-customer-journey-mapping.html" target="_blank" rel="noopener">Как взглянуть на&nbsp;работу компании глазами клиентов, чтобы повысить продажи</a>
							</li>
							<li>
								<a href="//probusiness.io/tech/2323-eti-elementarnye-oshibki-na-saytakh-meshayut-kompaniyam-privlekat-klientov-inostrancev-primer-agrousadeb.html" target="_blank" rel="noopener">Эти элементарные ошибки на&nbsp;сайтах мешают компаниям привлекать иностранных клиентов: пример агроусадеб</a>
							</li>
							<li>
								<a href="//probusiness.io/do_it/2445-ne-stavte-telegu-vperedi-loshadi-veshchi-kotorye-obyazatelno-dolzhen-znat-i-delat-marketolog.html" target="_blank" rel="noopener">Не&nbsp;ставьте телегу впереди лошади&nbsp;— вещи, которые обязательно должен знать и&nbsp;делать маркетолог</a>
							</li>
							<li>
								<a href="//probusiness.io/management/2778-v-chernuyu-pyatnicu-skidki-budut-u-mnogikh-chem-vydelitsya-na-fone-konkurentov.html" target="_blank" rel="noopener">В&nbsp;«Черную пятницу» скидки будут у&nbsp;многих&nbsp;— чем выделиться на&nbsp;фоне конкурентов</a>
							</li>
						</ul>

					</div>
					<div class="c-4">
						<ul><li><h2>Рассказал</h2></li>
							<li>
								<a href="/opyt/vzlom-barerov-biznesa/">Практикум «Взлом барьеров развития бизнеса»</a>
							</li>
							<li>
								<a href="/opyt/ecommerce/">Семинар «1С-Битрикс»: «Формула сайта: от&nbsp;идеи интернет-магазина до&nbsp;лидера отрасли»</a>
							</li>
							<li>
								<a href="https://pisareva.by/product/marketing/" target="_blank" rel="noopener">Вебинар «Маркетинг психологических услуг»</a>
							</li>
							<li>
								<a href="/mnenie/misconceptions/">Мастер-класс «Торговый маркетинг: от&nbsp;выбора месторасположения до&nbsp;привлечения посетителей и&nbsp;покупателей»</a>
							</li>
							<li>
								<a href="//www.youtube.com/watch?v=1y5jNAP28kE" target="_blank" rel="noopener">Международная конференция «Психологическая практика онлайн: возможности и&nbsp;перспективы»</a>
							</li>
						</ul>
					</div>
				</div>
			</div>


<section class="break"></section>



					<div class="me-text-2">
						<h2>Я&nbsp;предприниматель </h2>

						<div class="row">
							<div class="c-6">
								<p>В&nbsp;январе 2015 года я&nbsp;открыл ИП. Работаю как консультант и&nbsp;маркетолог на&nbsp;аутсорсинге. </p>
								<p>Мой <b>главный принцип&nbsp;</b>— каждый шаг маркетолога должен подчеркивать и&nbsp;усиливать идею, которая значимо для клиентов отличает предприятие от&nbsp;конкурентов. Если такой идеи нет, то&nbsp;маркетинг быстро превращается в&nbsp;изматывающие крысиные бега. </p>
								<p>Постепенно в&nbsp;блоге появится описание всех завершенных проектов, о&nbsp;ходе которых я&nbsp;могу рассказать публично. </p>

							</div>

							<div class="c-6">
								<p>Внешне <b>моя работа выглядит так:</b> сначала я&nbsp;собираю, анализирую и&nbsp;систематизирую доступную информацию о&nbsp;конкурентах, характеристиках и&nbsp;мотивации целевой аудитории. Если потребуется, организую проведение маркетинговых исследований.</p>					 <p> Далее определяю и&nbsp;формулирую конкурентные преимущества торговой марки, составляю пошаговый план, как создать и&nbsp;укрепить образ преимуществ в&nbsp;сознании целевой аудитории.</p><p> Участвую в&nbsp;реализации плана. Поддерживаю клиентов в&nbsp;работе с&nbsp;подрядчиками. </p>

							</div>
						</div>

					</div>






		<section class="break"></section>
			<div class="me-text">
					<h2>Я&nbsp;наемный работник</h2>
					<p>Последние 4&nbsp;места:</p>
					<div class="row">

						<div class="c-6">
							<picture>
								<source
									srcset="/images/brownsme-1x.webp 1x,
											/images/brownsme-2x.webp 2x"
									type="image/webp">
								<img
									src="/images/brownsme-1x.jpg" alt="Brown’s Manufactor" width="250" height="276" srcset="/images/brownsme-2x.jpg 2x">
							</picture>
					<p><strong> ООО «Тичино», тм&nbsp;«Brown’s Manufactory» (Беларусь)</strong></p>
					<p class="workdate"> 2013-2014 — директор компании</p>
					<p> Здесь я&nbsp;отчетливо понял, что хочу заниматься вопросами развития бренда и&nbsp;решать маркетинговые задачи. </p>
						</div>
						<div class="c-6">
							<picture>
								<source
									srcset="/images/pro-trademe-1x.webp 1x,
											/images/pro-trademe-2x.webp 2x"
									type="image/webp">
								<img
									src="/images/pro-trademe-1x.jpg" alt="Pro-Trade" width="250" height="90" srcset="/images/pro-trademe-2x.jpg 2x">
							</picture>
					<p><strong> ООО «Мебелинк», тм «Pro-Trade» (Беларусь)</strong></p>
					<p class="workdate"> 2010-2011 — начальник отдела маркетинга </p>
					<p> Первая компания, учредитель которой позвонил после моего ухода и&nbsp;поблагодарил за&nbsp;работу. Также «Pro-Trade»&nbsp;— компания, ставшая одним из&nbsp;первых клиентов, когда я&nbsp;оформил ИП. </p>
						</div>
					</div>



					<div class="row">
						<div class="c-6">
							<picture>
								<source
									srcset="/images/getpointme-1x.webp 1x,
											/images/getpointme-2x.webp 2x"
									type="image/webp">
								<img
									src="/images/getpointme-1x.jpg" alt="GetPoint" width="250" height="90" srcset="/images/getpointme-2x.jpg 2x">
							</picture>
					<p><strong> GetPoint&nbsp;— агентство креативного брендинга (Россия)</strong></p>
					<p class="workdate"> 2012-2013 — директор по&nbsp;развитию бизнеса</p>
					<p> Окунулся в&nbsp;рекламный бизнес. В&nbsp;некоторых моментах ощущал себя персонажем книг Пелевина. </p>



						</div>

					<div class="c-6">
							<picture>
								<source
									srcset="/images/nielsenme-1x.webp 1x,
											/images/nielsenme-2x.webp 2x"
									type="image/webp">
								<img
									src="/images/nielsenme-1x.jpg" alt="Nielsen" width="250" height="90" srcset="/images/nielsenme-2x.jpg 2x">
							</picture>

					<p><strong> Нильсен</strong> </p>
					<p class="workdate"> 2005-2009 — главный специалист (Беларусь)→ руководитель отдела (Казахстан). </p>
					<p> Компания «Нильсен»&nbsp;— мировой лидер в&nbsp;области маркетинговых исследований. Сначала я&nbsp;работал в&nbsp;белорусском офисе, а&nbsp;затем принял предложение возглавить отдел по&nbsp;работе с&nbsp;клиентами в&nbsp;Казахстане. Многие принципы анализа данных и&nbsp;подход в&nbsp;работе с&nbsp;клиентами привил мне Нильсен. В&nbsp;частности, Нильсен научил <a href="/mnenie/otlichie-marketologa-ot-brexuna/">отличать маркетолога от&nbsp;брехуна</a>. </p>
						</div>
					</div>



			</div>
			<section class="break"></section>
				<div class="me-text-2">
					<h2> Другие проекты </h2>
					<div class="row">

						<div class="c-6">
					<p><strong><a href="https://www.psycareer.ru" target="_blank" rel="noopener">psycareer.ru</a></strong> </p>
					<p> По&nbsp;первому образованию я&nbsp;медицинский психолог. От&nbsp;однокурсников и&nbsp;знакомых психологов получал много вопросов по&nbsp;продвижению услуг. Решил вынести ответы на&nbsp;похожие вопросы в&nbsp;отдельный сайт. Так появился ресурс psycareer.ru. Одновременно это площадка для экспериментов в&nbsp;области html и&nbsp;css. </p>
						</div>
						<div class="c-2">

							<picture>
								<source
									srcset="/images/psycareerme-1x.webp 1x,
											/images/psycareerme-2x.webp 2x"
									type="image/webp">
								<img
									src="/images/psycareerme-1x.jpg" alt="psycareer.ru" width="150" height="150" srcset="/images/psycareerme-2x.jpg 2x">
							</picture>

						</div>
					</div>
				</div>






		{% include footer.html %}

		</div>


</div>

</body>
</html>
