---
layout: default
---

<article class="post">
 <h1>{{ page.title }}</h1>
          
          <div class="rect">
            <div class="date">
 
    {{ page.date | date: "%e %B %Y" | replace: 'January', 'января' | replace: 'February', 'февраля' | replace: 'March', 'марта' | replace: 'April', 'апреля' | replace: 'May', 'мая' | replace: 'June', 'июня' | replace: 'July', 'июля' | replace: 'August', 'августа' | replace: 'September', 'сентября' | replace: 'October', 'октября' | replace: 'November', 'ноября' | replace: 'December', 'декабря' }}
               </div>
             {% include sharetop.html %}
                      </div>
      <p><b></b></p>
   <div class="entry">
    {{ content }}
  </div>

  

  
  {% include sharedown.html %}
  <p>&nbsp;</p>
  {% include mailchimp.html %}
   <p>&nbsp;</p>
  {% include related.html %}
   
 
</article>
