.footer {
	background-color: #303030;
	width:100%;
font-size: .9rem;
	color: #999;

}

.footer-flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		padding-top:1rem;
}

.footer a {
	background-color: transparent;
	color: #999;
  text-decoration: none;
	cursor: pointer;
}

a.no-link {
	color: #999;
//	border-bottom: 1px solid #777;
}

.footer a:hover, .footer a:active {
color: #c1e0fe;
	border-bottom: 1px solid #4ccda8;
	text-decoration: none;
}

.footer-menu {
color: #fff;
}


.network,
.footer-item,
.social {
	padding: 10px 15px 10px 0;
	min-width: 250px;
    flex:1;


		ul {
			list-style: none;
			padding:0;
			margin-top: .5em;
		}

		li {
			display: block;
			padding-bottom: .6em;

		}

		
}


/*
.social li {
						display: inline-block;
						height: 30px;
						width: 34px;
						margin-right: 15px;
						background-color: #999;
						padding-bottom: .3em;

						&:hover {
							background-color: #c1e0fe;
						}


						&:nth-child(1){
							-webkit-mask: url(/images/facebook.svg) no-repeat center/cover;
							        mask: url(/images/facebook.svg) no-repeat center/cover;
						}

						&:nth-child(2){
							-webkit-mask: url(/images/linkedin.svg) no-repeat center/cover;
							        mask: url(/images/linkedin.svg) no-repeat center/cover;
						}

						&:nth-child(3){
							-webkit-mask: url(/images/twitter.svg) no-repeat center/cover;
							        mask: url(/images/twitter.svg) no-repeat center/cover;
						}

					
					a {
						display: block;
						height: 100%;
				}
				
}

.social-name {
	display: none;
}



.network {
	ul{
	display: flex;
	flex-wrap: wrap;}
	li:not(:first-child)::before {
		content: '|';
	}
	li:not(:last-child)::after {
		content: ' ';
		margin-right: 5px;
	}
}

*/





.footer-item2 {
		padding: 2em 1em 1em 0;
		color: #999;
}

.uppercase {
	text-transform: uppercase;
}

@media only screen and (max-width:899px) {
						.footer-item,
				.footer-item2 {
				 margin-bottom: 20px;

				}


				.footer {
				padding-top: 2rem;
				}
}
