.footer {
	background-color: $footer-bg;
	width:100%;
	color: $footer-primary-color;

}


/**** footer-grid ****/

.footer-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	grid-gap: 32px;
	grid-auto-flow: dense;
	padding-top: 5vh;
	margin: 2em 0;

}



.footer-grid a {
	background-color:transparent;
	text-decoration:none;
	color: inherit;
	box-shadow: none;
	
}



/**** footer-menu ****/

.footer-item {
	display: flex;
	flex-direction: column;
	min-width: 200px;
}


.footer-item-name {
    display: block;
    font-weight: 700;
    font-size: 1.4em;
	color: inherit;
	margin-bottom:.2em;
}


.footer-item-caption {
	font-size:.9em;
	color: $footer-primary-color;
}



.footer-item:hover {
	color: $footer-primary-color-hover;
	background-color:transparent;
	text-decoration:none;
	box-shadow: none;


}


/**** footer-links (SMM) ****/

  .footer__links {
	margin-top: 4vh;
	padding: 0;
	list-style: none;

}

	.footer__links li {
	  font-size: 1em;
	  font-weight: 500;
	  display: inline-block;
	  vertical-align: middle;
		padding-right: 2em;
	padding-top:1em;

	 }
	  .footer__links li::before {
		display: none; }
     .footer__links li a {
		display: block;
	width: 100%;
	box-shadow: none;}

@media (min-width:500px)	{
  .for__notes {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.5rem;
  }

}

	.footer__links a {
		background-color:transparent;
		color:#BDBDBD;
		text-decoration:none;
		border-bottom:1px solid $footer-primary-color;
	//	border-bottom:1px solid #4ccda8;
		cursor:pointer;
		box-shadow: none;
	   }

	   .footer__links a:hover,
	   .footer__links a:active {
		color: $footer-secondary-color;
		border-bottom:1px solid $footer-bg;
		text-decoration:none;
		box-shadow: none;
	   }





/**** footer-notes ****/

 .footer__notes  {
	background-color:transparent;
	text-decoration:none;
	color: $footer-add-color;
	box-shadow: none;
}


  .footer__notes {
	grid-column: 2/12;
	text-align: center;
	padding: 12vh 0 4vh 0;
	font-size: .9em;
	}


/**** footer-privacy ****/

 .privacy-div {
		margin: .5em 0 .5em 2em;
	   }
.privacy {
	line-height: 1em;
	font-size: .8em;
	color:#1d1d1f;
	text-decoration:none;
}
