.footer {
	background-color: #303030;
	width:100%;
	color: #999999;

}


.footer-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	grid-gap: 32px;
	grid-auto-flow: dense;
	padding-top: 5vh;	
	margin: 2em 0;
}
.footer__notes a,
.footer-grid a {
	background-color:transparent;
	text-decoration:none;
	color: inherit;
}

.footer__notes a:hover,
.footer-grid a:hover {
	background-color:transparent;
	text-decoration:none;
	color: #ffffff;
}



.footer-item {
	display: flex;
	flex-direction: column;	
	min-width: 200px;
	
	
}

.footer-item-name {
    display: block;
    font-weight: 600;
    font-size: 1.4em;
	color: inherit;
}


.footer-item span {
	font-size:.9em;
}


  .footer__links {
	margin-top: 4vh;
	padding: 0;
	list-style: none;
	
}


	.footer__links li {
	  font-size: 1em;
	  font-weight: 500;
	  display: inline-block;
	  vertical-align: middle;
		padding-right: 2em;
	padding-top:1em;
	 }
	  .footer__links li::before {
		display: none; }
     .footer__links li a {
		display: block;
	width: 100%; }
	
  
  .footer__notes {
	  display: grid;
	  grid-template-columns: 1fr;
	grid-column: 2 / 12;
	text-align: center;
	padding: 12vh 0 4vh 0;
	font-size: .9em;
	}

	.footer__links a {
		background-color:transparent;
		color:#999;
		text-decoration:none;
		border-bottom:1px solid #4ccda8;
		cursor:pointer;
	   }
	  
	   .footer__links a:hover,
	   .footer__links a:active {
		color:#c1e0fe;
		border-bottom:1px solid #303030;
		text-decoration:none
	   }

.privacy {
	margin-left: 2em;
	font-size: .8em;
	color:#1d1d1f;
	text-decoration:none;
	border-bottom:1px solid #ffffff;
}

.privacy a:hover {
	color:#c1e0fe;
	border-bottom:1px solid #303030;
}