
.with-side {
position : relative;
}


.side {
margin-top : 8px;
line-height: 1.4em;
color : inherit;
position : absolute;
top : 0;
left : 115%;
width : 16vw;
color: #333;
margin-bottom: 2em;
}

.side img {
width : auto;
max-width : 100%;
}

.side > ul,
.side > p {
font-size: .8em;
line-height: 1.36em;
}

.side strong {
font-size : 2rem;
font-weight : 100;
}

.side li {
  margin-left: -10px;
  margin-bottom: 4px !important;
}

@media screen and (max-width:1430px) {
.side {
position : relative;
left : 9%;
width : 90%;
padding: 0;
margin-bottom: 0;

}
}
