


// ***

.rect  {
  border-top: 1px solid #b4b4b4;
  padding-top: 15px;
  margin-bottom: 2em;
  max-width: 650px;
}

.bold {
  font-weight: 600;
}
/* изображения */
img,
.img-responsive,
.img-shadow  {
    max-width: 100%;
    height: auto;
}


.img-shadow {-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}



// выделение области в тексте

.markedfield {
    margin: .8em 0 1.2em 0;
	padding: 3% 3.5%;
	background: #f5f5f5;

}

.markedfield h2 {
margin-top: .5em !important;
}


// текст в рамке
.hip {
	border: 2px solid $hip; //#f19a48;//#ffa600;
	border-left: 10px solid $hip;
	font-size: 1.4em;
	font-weight: bold;
	padding: 20px 5px 25px 10px;
//	width: 100%;
	margin-bottom: 1.2em;
  max-width: 760px;
  line-height: 1.3em;
}


// для выделен шрифтом и фоном

.hip2 {
	background-color: $hip2; //#f4ebd0; //#e9fbe9;
	font-size: 1.5em;
	font-weight: bold;
	padding: 20px 5px 25px 10px;
//	width: 100%;
	border-radius:6px;
	margin-bottom: 1.3em;
  max-width: 760px;
  line-height: 1.2em;
}


.size-2x {
  font-size: calc(1.2em + .5vw);
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.2em;
}

/* цитата  */


  blockquote {
    font-style: italic;
	  border-left: 1px solid #a73147;
    padding-left: 20px;
    margin-top: 1em;
    margin-bottom: 35px;
    margin-left: 30px;
    line-height: 1.6em;
  }




/* подпись к картинке */


.wtf1 {

    color: #333;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 2em;
    margin-top:2em;
}


// шрифт на кегль меньше для таблиц
.fontme { font-size:14px;line-height:19px;
@media (max-width: 716px) {
    font-size: 18px;
	line-height:25px;
  }
}


/* пример, примечание, заметка */

.notetip {width:90%;font-size:.8em; border-radius:5px 5px;padding:5px 5px 5px 3em;margin:0;line-height:1.4em;overflow:hidden;bottom:6px;right:6px;border:0 solid #0092e0;background-position:20px 50%;background-repeat:no-repeat}


/* video */


.video {
  	width: 100%;
  	position: relative;
  	margin-top: 20px;
  	margin-bottom: 2em;
  	padding-top: 56.25%;
}
.video iframe, .video object, .video embed{
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}

iframe {
	border:0;
	overflow:hidden;
}

.videoname {
	margin-top:-1.95em;
	color: #333;
    font-size: .8em;
    line-height: 1.4em;
}


 /* подпись к фото респондента 

.person {
  font-size: 0.9em;
  border-top:1px solid #DDD;
      margin-top: 10px;
}
*/

// флекс-блоки вместо таблицы

.flex-in,
.flex-block {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 2rem;
}


.flex-1 {
flex: 1;
min-width: 270px; max-width: 310px;
padding:0 15px 0 0;
}

.flex-2 {
flex: 2;
min-width: 300px;
}

.flex-image-cards {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-bottom: 2rem;
justify-content: space-around;
align-content: space-around;
}

// подчеркивание

mark {background: #ffffa1; 
background: linear-gradient(180deg,rgba(255,255,255,0) 45%, #ffffa1 55%);
padding: 1px 0; }


// дата публикации

.date {
  padding: 8px 0;
  font-style: italic;
  color: #444;
  font-size: .8125em;
  white-space: nowrap;
}




@supports (display: grid) {
  @media screen and (min-width:720px) {

    .date {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
      background: $focus;
    }
  }
}

.wtf {
    color: #333;
    font-size: .8em;
    line-height: 1.36em;
}

.wtf a {
	border-bottom: 0;
}


.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

p + ul {
  margin-top: 0;
}

.mt-1 {
  margin-top:1em;
}