
//
// VARIABLES
//

// Colors
$link:  #0070c9;
$linkhover: #ff853d; // #cc0000;
$linkbottom: #e758ae; //#d1d1d1;
$text: #201222;  //#221b1a;
$text-menu: #555;
$headline: #000;
$menubackground: #323232;
$menutext: #fff; //old
$background: #ffffff;
$focus: #c1e0fe; //#d4e2ff;
$markedfield: #f2f2f2;
$hip: #e85d00;
$hip2:#fff7d7;
$toc:#fafafa;


// Font stacks
$helvetica:  Roboto,Arial,Helvetica, sans-serif;
$sizebasis: 18px;
