
//
// VARIABLES
//

// Colors
$link:  #00458B; // #034575;  //#0066cc;
$linkhover: rgb(227,0,22);
$linkbottom: #e758ae; //#d1d1d1;
$text: #000;// #121212;//#1d1d1f; // #201222; #221b1a;
$text-menu: #555;
$headline: #000;
$menubackground: #323232;
$menutext: #fff; 
$background: #ffffff;
$focus: #c1e0fe; //#d4e2ff;
$markedfield: #f2f2f2;
$hip: #e85d00;
$hip2:#fff7d7;
$toc:#fafafa;

 

//Links
$a-normal-text: #0b24fa; //#0000FE; 
$a-normal-side:#20399D; 
$a-normal-underline: #707070;
$a-visited-text: $a-normal-text;
$a-visited-underline: #bbb;
$a-hover-bg: rgba(75%, 75%, 75%, .25);
$a-active-text: #fb3347; //#c00; 
$a-active-underline: #fb3347; //#c00; 

// Font stacks
$helvetica:  Roboto,Arial,Helvetica, sans-serif;
$sizebasis: 18px;

// Line-height
$line-p: 31px;
$line-quote: 30px; 

// buttons
$button-bg:#283cdc; 
$button-bg-hover: #1f31bf;
$button-color: #fff;
$button-color-hover: #fff; 

//Footer

$footer-bg: #303030;
$footer-primary-color: #ADC2BD; 
$footer-primary-color-hover: #fff;
$footer-secondary-color: #c1e0fe;
$footer-add-color: #BDBDBD;