---
---

@import "reset"; 
@import "variables";



.all-site {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}



@import "menu";
@import "basis";
@import "article-header";



.conteiner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #f7f7f7;

}




.slogan {
	margin-top:2vw;
	padding: 6vw 2rem;
	background-color: #f9f0eb;
	
}

.slogan p {
	color: #333;
	font-weight: normal;
	margin: 0 0 .5em;
	max-width:100rem;
	font-size: calc(2.4vw + 2vh + .2vmin);
	line-height: 1.05;
	font-weight: 600;
	letter-spacing: -.015em;

}


.me-head {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: center;
	margin: 2vw 0 0 0;
	padding: 2rem 0;
}


.me-head h1 {
  font-size: 1.55em;
  font-weight: normal;
  line-height: 1.1;

}

.me-head h2 {
  font-size: 1.4em;
  font-weight: normal;
  line-height: 1.2;
  margin: 2.4em 0 1em;
}


.me-head h3 {
  font-size: 1.28571429em;
  font-weight: normal;
  line-height: 1.3;
  margin: 3.33333333em 0 1.33333333em;
}

	.me-head h1 + h2,
	.me-text h1 +h2 {
  	margin-top: 2em;
  		margin-bottom: 1em;
}

@media (min-width: 768px) {
  .me-head h1 {
    font-size: 2.2375em;
    margin-bottom: 0.31538462em;
  }
  .me-head h2 {
    font-size: 1.7375em;
    margin-top: 1.1em;
    margin-bottom: 0.77419355em;
  }
  .me-head h3 {
    font-size: 1.3625em;
    margin-top: 1.4em;
    margin-bottom: 0.66em;
  }

	.me-head h1 + h2,
	.me-text h1 +h2 {
  	margin-top: 2.5em;

}
}




.me-head-block {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-ms-flex-preferred-size: 330px;
	    flex-basis: 330px;
}


.me-head-item {
	padding: 1rem 0;
	margin: auto 2rem;
	min-height: 30vh;	
}


.break {
	height:1.5vw;
	background-color: #fff;
}



.me-head-item p {	
	font-size: 18px;
	line-height: 25px;
	font-weight: normal;
	font-weight: 400;
}


.me-head a,
.me-text a,
.me-text-2 a {

	color: $link;
    text-decoration: none;
	cursor: pointer;
	&:hover, &:active {
    color: $link;
	text-decoration: underline;
	border-bottom: 0;
    }	
}


.row ul{list-style:none;padding:0px;margin:0px;}
.row li{margin-bottom:0.8em; color: #111; line-height:18px;}
	

.me-text {
	padding: 3rem 2rem;
	background-color: #fafafa //#f9f0eb;
}

.me-text h2,
.me-text h3  {
  	margin: .4em 0;
}

.me-text-2 {
	padding: 3rem 2rem;
	background-color: #f7f7f7;
}

.me-text-head {
	padding: 3rem 0 0 2rem;
}

.workdate {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 1em;
 	line-height: 1.3em;
 	color: #333;
}

.row p {
	max-width: 40rem;
}

.me-text img,
.me-text-2 img,
.work-item {
	
	margin: 2rem 0 1rem 0;
	
}


.wtf {
    
    color: #333;
    font-size: 13px;
    line-height: 19px;
}

.wtf a {
	border-bottom: 0;
}

img,
.img-responsive,
.img-shadow  {
    max-width: 100%;
    height: auto;
}


.img-shadow {-webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}





@import "grid";
@import "footer";

