---
---

@import "reset"; 
@import "variables";
@import "menu";
@import "basis";
@import "article-header";


.ya-site-form__search-wrap td {

border-bottom: none;
}
.ya-site-form__form td {
padding: 0%;
border-bottom: none;
}
#ya-site-form0 .ya-site-form__search-input {
    padding: 0px;
}
#ya-site-form0 .ya-site-form__wrap {
    width: 70%;
}

#ya-site-results .l-page, #ya-site-results .b-bottom-wizard {
    font-size: 11px;
}


.all-site {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}



.conteiner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #f7f7f7;
}



.article {
    max-width: 740px;
	margin-top: 50px;
	@media (max-width: 899px) {
	margin-top: 10px;

	}
}



.article a {
	background-color: transparent;
	color: $link;
    text-decoration: none;
	cursor: pointer;
	&:hover, &:active {
    color: $link;
	text-decoration: underline;
	border-bottom: 0;
    }	
}


.content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-line-pack: stretch;
	    align-content: stretch;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;

	
}


.wtf {
    
    color: #333;
    font-size: 13px;
    line-height: 19px;
}

.wtf a {
	border-bottom: 0;
}


@import "footer";
